.ff_monospace {
    font-family: monospace;
}

.rosso {
    color: #dc3545;
}

.giallo {
    color: #ffc107;
}

.verde {
    color: #198754;
}

.blu {
    color: blue;
}

.arancio {
    color: orange;
}

.celeste {
    color: #0dcaf0;
}

.grigio {
    color: grey;
}

.bordo-destro {
    border-right-width: 2px !important;
}

/* sgi */
.no_link_sottolineato {
    text-decoration: none;
}

.rigo_firme {
    height: 100px;
}

.logo_ottomano {
    max-height: calc(1.375rem + 1.5vw);
}
