<div class="col text-end d-print-none">
    <div class="col text-end btn-group " role="group">
        <a href="/mezzi/elenco"
           class="btn btn-outline-primary {{pagina_attiva_elenco}}">Elenco</a>
        <a href="/mezzi/scadenziario"
           class="btn btn-outline-primary {{pagina_attiva_scadenzario}}">Scadenzario</a>
        <a href="/mezzi/aggiorna_documenti"
           class="btn btn-outline-primary {{pagina_attiva_aggiorna_documenti}}">Aggiorna Documenti</a>
        <a href="/mezzi/aggiorna_stato"
           class="btn btn-outline-primary {{pagina_attiva_aggiorna_stato}}">Aggiorna Stato</a>
        <a href="/admin/mezzi/" class="btn btn-outline-primary" target="_blank">Admin</a>
    </div>
</div>