{% extends "mezzi/elenco.html" %}

{% block titolo %}
{{titolo}}
{% endblock %}

{% block menu_sezione %}
{% endblock %}


{% block corpo %}
<p>RCT</p>
<ul>
    <li>{{rct|date:"d/m/y"}}</li>
</ul>

{% for mezzo, doc_ok, doc_no in mezzi %}
<p>{{mezzo|upper}}</p>

<ul>
    {% for documento in doc_ok %}
    <li>
        {{ documento }}
        {% endfor %}
    </li>
    {% for documento in doc_no %}
    <li class="rosso">
        {{ documento }}
        {% endfor %}
    </li>

</ul>
{% endfor %}


{% endblock %}
