{% extends "base.html" %}


{% block titolo %}
{{ titolo }}
{% endblock %}


{% block menu_macro_sezione %}
{% include "./0_menu_macro_sezione_utility.html" %}
{% endblock %}


{% block menu_sezione %}
{% endblock %}


{% block corpo %}


<div>
    <h2>Personale</h2>
    {% if documenti_personale_non_trovati %}
    <p class="text-danger">Documenti non trovati</p>
    <ul>
        {% for documento in documenti_personale_non_trovati %}
        <li> {{ documento }}</li>
        {% endfor %}
    </ul>

    {% else %}
    <p class="text-success">Tutti i documenti sono presenti</p>
    {% endif %}


    <h2>Mezzi</h2>
    {% if documenti_mezzi_non_trovati %}
    <p class="text-danger">Documenti non trovati</p>
    <ul>
        {% for documento in documenti_mezzi_non_trovati %}
        <li> {{ documento }}</li>
        {% endfor %}
    </ul>

    {% else %}
    <p class="text-success">Tutti i documenti sono presenti</p>
    {% endif %}


    <h2>Attrezzature</h2>
    {% if documenti_attrezzature_non_trovate %}
    <p class="text-danger">Documenti non trovati</p>
    <ul>
        {% for documento in documenti_attrezzature_non_trovate %}
        <li> {{ documento }}</li>
        {% endfor %}
    </ul>

    {% else %}
    <p class="text-success">Tutti i documenti sono presenti</p>
    {% endif %}


</div>


{% endblock %}
