{% extends "base.html" %}

{% block titolo %}
{{ titolo }}
{% endblock %}


{% block menu_macro_sezione %}
{% include "./0_menu_macro_sezione_utility.html" %}
{% endblock %}


{% block menu_sezione %}
{% include "./2_sottomenu_db_bck.html" %}
{% endblock %}


{% block corpo %}

{% load static %}

<div class="d-inline-block">
    <table class="table table-striped">
        <thead>
        <tr class="text-center">
            <th>Data Modifica</th>
            <th>Nome</th>
        </tr>
        </thead>
        <tbody>
        {% for nome, data in db_list %}
        <tr>
            <td>{{nome}}</td>
            <td>{{data}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Ripristino Database</h3>
    <p>Operazioni da effettuare per ripristinare una copia di backup del database:</p>
    <ul>
        <li>Chiudere la finestra dos del gestionale sul server</li>
        <li>Accedere al percorso <span class="ff_monospace info">\\Srvdc1\d\Gestionale\</span></li>
        <li>Eliminare il file <span class="ff_monospace info">db.sqlite3 </span></li>
        <li>Duplicare il file <span class="ff_monospace info">bck_*.sqlite3</span> rinominandolo
            <span class="ff_monospace info">db.sqlite3</span></li>
        <li>Riavviare il gestionale dal server</li>
    </ul>

</div>


{% endblock %}
