### VirtualEnv template
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
env
.idea
jupyter
__pycache__/

venv
*.bat
*.sqlite3
ottomano/attrezzi/migrations
ottomano/mezzi/migrations
ottomano/esterni/migrations
ottomano/personale/migrations
ottomano/sgi/migrations
ottomano/New File.txt
SyncToy*
qodana.yaml
aggiornamento GIT.txt
*.xls
*.xlsx
*.xlsm
