{% extends "base.html" %}

{% block titolo %}
{{titolo}}
{% endblock %}

{% block menu_macro_sezione %}
{% include "./menu_sezione_sgi.html" %}
{% endblock %}


{% block menu_sezione %}
{% include "./menu_sezione_cassette_ps.html" %}
{% endblock %}


{% block corpo %}

{% load static %}


<div>
    <table class="table table-striped table-sm">

        <thead class="table-light sticky-top">
        <tr class="text-center">
            <th scope="col"></th>
            <th scope="col">Cassetta</th>
            <th scope="col">Tipo</th>
            <th scope="col">Ubicazione</th>
            <th scope="col">Scadenza</th>
            <th scope="col">Ultima verifica</th>
            <th scope="col">Esito verifica</th>
            <th scope="col">Note</th>
        </tr>
        </thead>

        <tbody>
        {% for cassetta, verifica in lista_cassette %}
        <tr>
            <td>
                <a class="btn-outline-primary">
                    <a href="/sgi/cassette_ps_aggiungi_verifica/{{ cassetta.pk }}"
                       class="btn-outline-primary"
                       target="_blank">
                        <i class="fa-solid fa-square-plus"></i>
                    </a>
            </td>

            <td class="text-center no_link_sottolineato">
                <a href="/admin/sgi/cassettaps/{{ cassetta.pk }}" target="_blank">{{cassetta}}</a></td>
            <td class="text-center">{{cassetta.allegato}}</td>
            <td class="text-center
            {% if cassetta.ubicazione == 'Disponibile' and verifica.operazione in 'ok,rei,ms' %}
            table-success
            {% elif verifica.operazione == 'no' %}
            table-warning
            {% elif verifica.operazione == 'dis' %}
            table-danger
            {% endif %}">
                {{cassetta.ubicazione}}
            </td>
            <td class="text-center {{cassetta.ck_scadenza}} ">{{cassetta.scadenza|date:"m/y"}}</td>
            <td class="text-center {{cassetta.ck_ultima_verifica}}">{{cassetta.ultima_verifica}}</td>
            <td class="text-center
            {% if verifica.operazione == 'no' %}
            table-warning
            {% elif verifica.operazione == 'dis' %}
            table-danger
            {% endif %}">
                {{verifica.get_operazione_display}}
            </td>
            <td>
                <span class="text-success">{{verifica.materiale_integrato}}</span>
                <span class="text-danger">{{verifica.materiale_da_integrare}}</span>
                <span>{{verifica.note|default_if_none:''}}</span>
            </td>
        </tr>
        {% endfor %}

        </tbody>

    </table>

</div>

<div class="row justify-content-between">
    <div class="col-4">
        <caption><strong>Elenco articoli da reintegrare</strong></caption>
        <table class="table table-striped table-sm">
            <thead class="table-light sticky-top">
            <tr class="text-center">
                <th scope="col">n.</th>
                <th scope="col">Articolo</th>
            </tr>
            </thead>

            <tbody class="table-group-divider">
            {% for articolo, quantita in articoli_reintegro.items %}
            <tr>
                <td class="text-center">{{quantita}}</td>
                <td>{{articolo}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-4">
        <strong>Legenda Note</strong>
        <div class="text-success">Articoli reintegrati</div>
        <div class="text-danger">Articoli da reintegrare</div>
    </div>


</div>
{% endblock %}
