{% extends "base.html" %}

{% block titolo %}
{{titolo}}
{% endblock %}

{% block menu_macro_sezione %}
{% include "./menu_sezione_sgi.html" %}
{% endblock %}


{% block menu_sezione %}
<div class="col text-end d-print-none">
    <a href="/admin/sgi/verificacassettaps/add/" class="btn btn-outline-primary" target=”_blank”>
        <i class="fa-solid fa-square-plus"></i>
        Verifica
    </a>
    <a href="/sgi/cassette_ps_storico/" class="btn btn-outline-primary" target=”_blank”>
        Storico verifiche
    </a>
    <a href="/sgi/cassette_ps_scadenze/" class="btn btn-outline-primary" target=”_blank”>
        Scadenze
    </a>
</div>
{% endblock %}


{% block corpo %}

{% load static %}


<div class="row">
    {% for cassetta, verifica in dati %}

    <div class="col-{{4}}">
        <div class="card">

            <div class="card-header">
                <h2>Cassetta {{cassetta}}</h2>
            </div>

            <div class="card-body">
                <table class="table table-striped table-sm">

                    <thead class="table-light sticky-top">
                    <tr class="text-center">
                        <th scope="col">Scadenza</th>
                        <th scope="col">Prodotto</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td class="text-center">{{verifica.sc2_guanti|default_if_none:""}}</td>
                        <td>Guanti sterili monouso</td>
                    </tr>
                    <tr>
                        <td class="text-center">{{verifica.sc2_iodio|default_if_none:""}}</td>
                        <td>Flacone soluzione cutanea di iodiopovidone (0% iodio) 125ml</td>
                    </tr>
                    <tr>
                        <td class="text-center">{{verifica.sc2_fisiologica|default_if_none:""}}</td>
                        <td>Flacone soluzione fisiologica (Sodio cloruro 0.9%) da 250ml</td>
                    </tr>
                    <tr>
                        <td class="text-center">{{verifica.sc2_garza18x40|default_if_none:""}}</td>
                        <td>Compressa garza sterile 18x40 in buste singole</td>
                    </tr>
                    <tr>
                        <td class="text-center">{{verifica.sc2_garza10x10|default_if_none:""}}</td>
                        <td>Compressa garza sterile 10x10 in buste singole</td>
                    </tr>
                    <tr>
                        <td class="text-center">{{verifica.sc2_pinzette|default_if_none:""}}</td>
                        <td>Pinzette di medicazione monouso</td>
                    </tr>
                    <tr>
                        <td class="text-center">{{verifica.sc2_cotone|default_if_none:""}}</td>
                        <td>Confezione di cotone idrofilo</td>
                    </tr>
                    <tr>
                        <td class="text-center">{{verifica.sc2_cerotti|default_if_none:""}}</td>
                        <td>Confezioni di cerotti di varie misure pronte all'uso</td>
                    </tr>
                    <tr>
                        <td class="text-center">{{verifica.sc2_cerotto25|default_if_none:""}}</td>
                        <td>Rotoli di cerotto alto 2.5cm</td>
                    </tr>
                    <tr>
                        <td class="text-center">{{verifica.sc2_benda10|default_if_none:""}}</td>
                        <td>Rotolo di benda orlata alta 10cm</td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            {% if verifica.sc2_forbici %}
                            <i class="fa-solid fa-circle-check verde"></i>
                            {% endif %}
                        </td>
                        <td>Un paio di forbici</td>
                    </tr>
                    <tr>
                        <td class="text-center">{{verifica.sc2_laccio|default_if_none:""}}</td>
                        <td>Laccio emostatico</td>
                    </tr>
                    <tr>
                        <td class="text-center">{{verifica.sc2_ghiaccio|default_if_none:""}}</td>
                        <td>Ghiaccio pronto all'uso</td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            {% if verifica.sc2_sacchetto %}
                            <i class="fa-solid fa-circle-check verde"></i>
                            {% endif %}
                        </td>
                        <td>Sacchetti monouso per la raccolta di rifiuti sanotari</td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            {% if verifica.sc2_istruzioni %}
                            <i class="fa-solid fa-circle-check verde"></i>
                            {% endif %}
                        </td>
                        <td>Istruzioni ed estratto D.Lgs 81/08</td>
                    </tr>

                    </tbody>
                </table>

            </div>

        </div>

    </div>

    {% endfor %}
</div>

<div class="row">

    <div class="col-{{4}}">
        <div class="card">

            <div class="card-header">
                <h2>Prodotti in scadenza Cassette All. I</h2>
            </div>

            <div class="card-body">
                <table class="table table-striped table-sm">

                    <thead class="table-light sticky-top">
                    <tr class="text-center">
                        <th scope="col">Data scadenza</th>
                        <th scope="col">Prodotto</th>
                        <th scope="col">Quantità</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for mese, prodotto, quantita in prodotti_in_scadenza_all1%}
                    <tr>
                        <td class="text-center">
                            {{mese}}
                        </td>
                        <td>
                            {{prodotto|title}}
                        </td>
                        <td class="text-center">
                            {{quantita}}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>


    <div class="col-{{4}}">
        <div class="card">

            <div class="card-header">
                <h2>Prodotti in scadenza Cassette All. II</h2>
            </div>

            <div class="card-body">
                <table class="table table-striped table-sm">

                    <thead class="table-light sticky-top">
                    <tr class="text-center">
                        <th scope="col">Data scadenza</th>
                        <th scope="col">Prodotto</th>
                        <th scope="col">Quantità</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for mese, prodotto, quantita in prodotti_in_scadenza_all2%}
                    <tr>
                        <td class="text-center">
                            {{mese}}
                        </td>
                        <td>
                            {{prodotto|title}}
                        </td>
                        <td class="text-center">
                            {{quantita}}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>


{% endblock %}
