{% extends "base.html" %}

{% block titolo %}
{{titolo}}
{% endblock %}

{% block menu_macro_sezione %}
{% include "./menu_sezione_sgi.html" %}
{% endblock %}


{% block menu_sezione %}
{% include "./menu_sezione_cassette_ps.html" %}
{% endblock %}


{% block corpo %}

{% load static %}


{% for dati in gruppi_cassetta %}
<div class="row">

    {% for cassetta, verifica in dati %}

    {% if cassetta.allegato == '2' %}

    <div class="col-{{4}}">
        <div class="card">

            <div class="card-header">
                <h2>
                    <a href="/admin/sgi/verificacassettaps/{{verifica.id}}" target="_blank"> Cassetta {{cassetta}} -
                        All.{{cassetta.allegato}}</a>
                    {% if verifica.operazione == "no" %}
                    <span class="badge badge-pill bg-danger">da reintegrare</span>
                    {% elif cassetta.ubicazione == "Disponibile" %}
                    <span class="badge badge-pill bg-success">disponibile</span>
                    {% else %}
                    <span class="badge badge-pill bg-primary">{{cassetta.ubicazione}}</span>
                    {% endif%}
                </h2>
            </div>

            <div class="card-body">
                <table class="table table-striped table-sm">

                    <thead class="table-light sticky-top">
                    <tr class="text-center">
                        <th scope="col">Scadenza</th>
                        <th scope="col">Prodotto</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td class="text-center {{verifica.ck_sc2_guanti}}">
                            {{verifica.sc2_guanti|default_if_none:""|date:"m/y"}}
                        </td>
                        <td>Guanti sterili monouso (x2)</td>
                    </tr>
                    <tr>
                        <td class="text-center {{verifica.ck_sc2_iodio}}">
                            {{verifica.sc2_iodio|default_if_none:""|date:"m/y"}}
                        </td>
                        <td>Flacone soluzione cutanea di iodopovidone (10% iodio) 125ml</td>
                    </tr>
                    <tr>
                        <td class="text-center {{verifica.ck_sc2_fisiologica}}">
                            {{verifica.sc2_fisiologica|default_if_none:""|date:"m/y"}}
                        </td>
                        <td>Flacone soluzione fisiologica (Sodio cloruro 0,9%) da 250ml</td>
                    </tr>
                    <tr>
                        <td class="text-center {{verifica.ck_sc2_garza18x40}}">
                            {{verifica.sc2_garza18x40|default_if_none:""|date:"m/y"}}
                        </td>
                        <td>Compressa garza sterile 18x40 in buste singole</td>
                    </tr>
                    <tr>
                        <td class="text-center {{verifica.ck_sc2_garza10x10}}">
                            {{verifica.sc2_garza10x10|default_if_none:""|date:"m/y"}}
                        </td>
                        <td>Compressa garza sterile 10x10 in buste singole (x3)</td>
                    </tr>
                    <tr>
                        <td class="text-center {{verifica.ck_sc2_pinzette}}">
                            {{verifica.sc2_pinzette|default_if_none:""|date:"m/y"}}
                        </td>
                        <td>Pinzette di medicazione monouso</td>
                    </tr>
                    <tr>
                        <td class="text-center {{verifica.ck_sc2_cotone}}">
                            {{verifica.sc2_cotone|default_if_none:""|date:"m/y"}}
                        </td>
                        <td>Confezione di cotone idrofilo</td>
                    </tr>
                    <tr>
                        <td class="text-center {{verifica.ck_sc2_cerotti}}">
                            {{verifica.sc2_cerotti|default_if_none:""|date:"m/y"}}
                        </td>
                        <td>Confezioni di cerotti di varie misure pronte all'uso</td>
                    </tr>
                    <tr>
                        <td class="text-center {{verifica.ck_sc2_cerotto25}}">
                            {{verifica.sc2_cerotto25|default_if_none:""|date:"m/y"}}
                        </td>
                        <td>Rotoli di cerotto alto 2.5cm</td>
                    </tr>
                    <tr>
                        <td class="text-center {{verifica.ck_sc2_benda10}}">
                            {{verifica.sc2_benda10|default_if_none:""|date:"m/y"}}
                        </td>
                        <td>Rotolo di benda orlata alta 10cm</td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            {% if verifica.sc2_forbici %}
                            <i class="fa-solid fa-circle-check verde"></i>
                            {% endif %}
                        </td>
                        <td>Un paio di forbici</td>
                    </tr>
                    <tr>
                        <td class="text-center {{verifica.ck_sc2_laccio}}">
                            {{verifica.sc2_laccio|default_if_none:""|date:"m/y"}}
                        </td>
                        <td>Laccio emostatico</td>
                    </tr>
                    <tr>
                        <td class="text-center {{verifica.ck_sc2_ghiaccio}}">
                            {{verifica.sc2_ghiaccio|default_if_none:""|date:"m/y"}}
                        </td>
                        <td>Ghiaccio pronto all'uso</td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            {% if verifica.sc2_sacchetto %}
                            <i class="fa-solid fa-circle-check verde"></i>
                            {% endif %}
                        </td>
                        <td>Sacchetti monouso per la raccolta di rifiuti sanitari</td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            {% if verifica.sc2_istruzioni %}
                            <i class="fa-solid fa-circle-check verde"></i>
                            {% endif %}
                        </td>
                        <td>Istruzioni ed estratto D.Lgs 81/08</td>
                    </tr>

                    </tbody>
                </table>

            </div>

        </div>

    </div>

    {% else %}

    <div class="col-{{4}} ">
        <div class="card">

            <div class="card-header">
                <h2>
                    <a href="/admin/sgi/verificacassettaps/{{verifica.id}}" target="_blank"> Cassetta {{cassetta}} -
                        All.{{cassetta.allegato}}</a>
                    {% if verifica.operazione == "no" %}
                    <span class="badge badge-pill bg-danger">da reintegrare</span>
                    {% elif cassetta.ubicazione == "Disponibile" %}
                    <span class="badge badge-pill bg-success">disponibile</span>
                    {% else %}
                    <span class="badge badge-pill bg-primary">{{cassetta.ubicazione}}</span>
                    {% endif%}
                </h2>

            </div>

            <div class="card-body">
                <table class="table table-striped table-sm">

                    <thead class="table-light sticky-top">
                    <tr class="text-center">
                        <th scope="col">Scadenza</th>
                        <th scope="col">Prodotto</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td class="text-center {{verifica.ck_sc1_guanti}}">
                            {{verifica.sc1_guanti|default_if_none:""|date:"m/y"}}
                        </td>
                        <td>Guanti sterili monouso (x5)</td>
                    </tr>
                    <tr>
                        <td class="text-center {{verifica.ck_sc1_iodio}}">
                            {{verifica.sc1_iodio|default_if_none:""|date:"m/y"}}
                        </td>
                        <td>Flacone soluzione cutanea di iodopovidone (10% iodio) 1 litro</td>
                    </tr>
                    <tr>
                        <td class="text-center {{verifica.ck_sc1_fisiologica}}">
                            {{verifica.sc1_fisiologica|default_if_none:""|date:"m/y"}}
                        </td>
                        <td>Flacone soluzione fisiologica (sodio cloruro 0,9%) 500ml (x3)</td>
                    </tr>
                    <tr>
                        <td class="text-center {{verifica.ck_sc1_garza10x10}}">
                            {{verifica.sc1_garza10x10|default_if_none:""|date:"m/y"}}
                        </td>
                        <td>Compresse di garza sterile 10x10 in buste singole (x10)</td>
                    </tr>
                    <tr>
                        <td class="text-center {{verifica.ck_sc1_garza18x40}}">
                            {{verifica.sc1_garza18x40|default_if_none:""|date:"m/y"}}
                        </td>
                        <td>Compresse di garza sterile 18x40 in buste singole (x2)</td>
                    </tr>
                    <tr>
                        <td class="text-center {{verifica.ck_sc1_pinzette}}">
                            {{verifica.sc1_pinzette|default_if_none:""|date:"m/y"}}
                        </td>
                        <td>Pinzette di medicazione monouso (x2)</td>
                    </tr>
                    <tr>
                        <td class="text-center {{verifica.ck_sc1_cotone}}">
                            {{verifica.sc1_cotone|default_if_none:""|date:"m/y"}}
                        </td>
                        <td>Confezione di cotone idrofilo</td>
                    </tr>
                    <tr>
                        <td class="text-center {{verifica.ck_sc1_cerotti}}">
                            {{verifica.sc1_cerotti|default_if_none:""|date:"m/y"}}
                        </td>
                        <td>Confezioni di cerotti di varie misure pronte all'uso (x2)</td>
                    </tr>
                    <tr>
                        <td class="text-center {{verifica.ck_sc1_cerotto25}}">
                            {{verifica.sc1_cerotto25|default_if_none:""|date:"m/y"}}
                        </td>
                        <td>Rotoli di cerotto alto 2.5cm (x2)</td>
                    </tr>
                    <tr>
                        <td class="text-center {{verifica.ck_sc1_visiera}}">
                            {{verifica.sc1_visiera|default_if_none:""|date:"m/y"}}
                        </td>
                        <td>Visiera paraschizzi</td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            {% if verifica.sc1_forbici %}
                            <i class="fa-solid fa-circle-check verde"></i>
                            {% endif %}
                        </td>
                        <td>Un paio di forbici</td>
                    </tr>
                    <tr>
                        <td class="text-center {{verifica.ck_sc1_laccio}}">
                            {{verifica.sc1_laccio|default_if_none:""|date:"m/y"}}
                        </td>
                        <td>Lacci emostatici (x3)</td>
                    </tr>
                    <tr>
                        <td class="text-center {{verifica.ck_sc1_ghiaccio}}">
                            {{verifica.sc1_ghiaccio|default_if_none:""|date:"m/y"}}
                        </td>
                        <td>Ghiaccio pronto all'uso (x2)</td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            {% if verifica.sc1_sacchetto %}
                            <i class="fa-solid fa-circle-check verde"></i>
                            {% endif %}
                        </td>
                        <td>Sacchetti monouso per la raccolta di rifiuti sanitari (x2)</td>
                    </tr>
                    <tr>
                        <td class="text-center {{verifica.ck_sc1_teli}}">
                            {{verifica.sc1_teli|default_if_none:""|date:"m/y"}}
                        </td>
                        <td>Teli sterili monouso 40x60cm (2)</td>
                    </tr>
                    <tr>
                        <td class="text-center {{verifica.ck_sc1_rete}}">
                            {{verifica.sc1_rete|default_if_none:""|date:"m/y"}}
                        </td>
                        <td>Confezione di rete elastica di misura media (x2)</td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            {% if verifica.sc1_termometro %}
                            <i class="fa-solid fa-circle-check verde"></i>
                            {% endif %}
                        </td>
                        <td>Termometro</td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            {% if verifica.sc1_sfigmomanometro %}
                            <i class="fa-solid fa-circle-check verde"></i>
                            {% endif %}
                        </td>
                        <td>Apparecchio per la misurazione della pressione arteriosa</td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            {% if verifica.sc1_istruzioni %}
                            <i class="fa-solid fa-circle-check verde"></i>
                            {% endif %}
                        </td>
                        <td>Istruzioni sul modo di usare i presidi e prestare i primi soccorsi</td>
                    </tr>

                    </tbody>
                </table>

            </div>

        </div>

    </div>


    {% endif %}

    {% endfor %}

    {% cycle ''  '<div style="clear:both!important;"/></div><div style="page-break-after:always"></div><div style="clear:both!important;"/> </div>'  %}
</div>
{% endfor %}


<div class="row">

    <div class="col-{{4}}">
        <div class="card">

            <div class="card-header">
                <h2>Prodotti in scadenza Cassette All. I</h2>
            </div>

            <div class="card-body">
                <table class="table table-striped table-sm">

                    <thead class="table-light sticky-top">
                    <tr class="text-center">
                        <th scope="col">Data scadenza</th>
                        <th scope="col">Prodotto</th>
                        <th scope="col">Quantità</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for mese, prodotto, quantita in prodotti_in_scadenza_all1%}
                    <tr>
                        <td class="text-center">
                            {{mese}}
                        </td>
                        <td>
                            {{prodotto|title}}
                        </td>
                        <td class="text-center">
                            {{quantita}}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>


    <div class="col-{{4}}">
        <div class="card">

            <div class="card-header">
                <h2>Prodotti in scadenza Cassette All. II</h2>
            </div>

            <div class="card-body">
                <table class="table table-striped table-sm">

                    <thead class="table-light sticky-top">
                    <tr class="text-center">
                        <th scope="col">Data scadenza</th>
                        <th scope="col">Prodotto</th>
                        <th scope="col">Quantità</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for mese, prodotto, quantita in prodotti_in_scadenza_all2%}
                    <tr>
                        <td class="text-center">
                            {{mese}}
                        </td>
                        <td>
                            {{prodotto}}
                        </td>
                        <td class="text-center">
                            {{quantita}}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>


{% endblock %}
