{% extends "base.html" %}

{% block titolo %}
{{titolo}}
{% endblock %}

{% block menu_macro_sezione %}
{% include "./menu_sezione_sgi.html" %}
{% endblock %}


{% block menu_sezione %}
{% include "./menu_sezione_dpi_anticaduta.html" %}
{% endblock %}


{% block corpo %}

{% load static %}


<div>

    <div>
        <table class="table  table-sm">
            {% for dpi in dati %}

            {% ifchanged %}
            <tr>
                <th colspan="3" class="bg-primary text-white">
                    <h2>{{ dpi.get_tipologia_display }}</h2>
                </th>
            </tr>
            {% endifchanged %}

            <tr {% if dpi.stato == 'x' %} class="bg-danger text-white"  {% else %} class="bg-secondary text-white" {% endif %}>
                <th>
                    {{ dpi.matricola_interna }} -
                    {{ dpi.marca }}
                    {{ dpi.modello }}
                </th>
                <th> Fabbricazione: {{ dpi.fabbricazione }}
                </th>
                <th>
                    Matricola: {{ dpi.matricola }}
                </th>
            </tr>

            <tr>
                <th scope="col">Data</th>
                <th scope="col">Operazione</th>
                <th scope="col">Lavoratore</th>
            </tr>

            {% for op in dpi.operazione.all %}
            <tr>
                <td>{{op.data}}</td>
                <td {% if op.operazione == 'v' %} class="text-success" {% endif %}> {{op.get_operazione_display}}</td>
                <td>{{op.lavoratore|default_if_none:"-"}}</td>
            </tr>

            {% endfor %}

            {% endfor %}
        </table>
    </div>

</div>


{% endblock %}
