{% extends "base.html" %}

{% block titolo %}
{{titolo}}
{% endblock %}

{% block menu_macro_sezione %}
{% include "./menu_sezione_sgi.html" %}
{% endblock %}


{% block menu_sezione %}
{% include "./menu_sezione_dpi_anticaduta.html" %}
{% endblock %}


{% block corpo %}

{% load static %}

<div>
    <table class="table table-striped table-sm">
        <thead class="table-light sticky-top">
        <tr class="text-center">
            <th colspan="2">Nominativo</th>
            <th colspan="7">Imbracatura</th>
            <th colspan="7">Cordino Singolo</th>
            <th colspan="7">Cordino Doppio</th>
        </tr>
        <tr class="text-center">
            <th scope="col">Cognome</th>
            <th scope="col">Nome</th>

            <th scope="col">ID</th>
            <th scope="col">Messa in servizio</th>
            <th scope="col">Revisionata</th>
            <th scope="col">Consegnata</th>
            <th scope="col">Modello</th>
            <th scope="col">Fabbricato</th>
            <th scope="col">Matricola</th>

            <th scope="col">ID</th>
            <th scope="col">Messa in servizio</th>
            <th scope="col">Revisionata</th>
            <th scope="col">Consegnata</th>
            <th scope="col">Modello</th>
            <th scope="col">Fabbricato</th>
            <th scope="col">Matricola</th>

            <th scope="col">ID</th>
            <th scope="col">Messa in servizio</th>
            <th scope="col">Revisionata</th>
            <th scope="col">Consegnata</th>
            <th scope="col">Modello</th>
            <th scope="col">Fabbricato</th>
            <th scope="col">Matricola</th>
        </tr>
        </thead>
        <tbody>
        {% for lavoratore, dpi in registro %}
        <tr>
            <td> {{ lavoratore.cognome }}</td>
            <td class="bordo-destro"> {{ lavoratore.nome }}</td>

            <!--Imbracatura-->
            <td class="text-center">
                <a href="/admin/sgi/dpi_anticaduta2/{{dpi.0.pk}}" target="_blank">
                    {{ dpi.0.matricola_interna }}
                    {% if dpi.0.stato == 'v' %}
                    <i class="fa-solid fa-circle blu"></i>
                    {% endif%}
                </a>
            </td>
            <td class="text-center"> {{ dpi.0.messa_in_servizio|default_if_none:"" }}</td>
            <td class="text-center {{dpi.0.ck_revisione}}"> {{ dpi.0.data_verifica|default_if_none:"" }}</td>
            <td class="text-center"> {{ dpi.0.consegna2 }}</td>
            <td class="text-center"> {{ dpi.0.marca }} {{ dpi.0.modello }}</td>
            <td class="text-center"> {{ dpi.0.fabbricazione|date:"m/y" }}</td>
            <td class=" text-center bordo-destro"> {{ dpi.0.matricola }}</td>

            <!--Cordino Singolo-->
            <td class="text-center">
                <a href="/admin/sgi/dpi_anticaduta2/{{dpi.1.pk}}" target="_blank">
                    {{ dpi.1.matricola_interna }}
                    {% if dpi.1.stato == 'v' %}
                    <i class="fa-solid fa-circle blu"></i>
                    {% endif%}
                </a>
            </td>
            <td class="text-center"> {{ dpi.1.messa_in_servizio|default_if_none:"" }}</td>
            <td class="text-center {{dpi.1.ck_revisione}}"> {{ dpi.1.data_verifica|default_if_none:"" }}</td>
            <td class="text-center"> {{ dpi.1.consegna2 }}</td>
            <td class="text-center"> {{ dpi.1.marca }} {{ dpi.1.modello }}</td>
            <td class="text-center"> {{ dpi.1.fabbricazione|date:"m/y" }}</td>
            <td class=" text-center bordo-destro"> {{ dpi.1.matricola }}</td>

            <!--Cordino doppio-->
            <td class="text-center">
                <a href="/admin/sgi/dpi_anticaduta2/{{dpi.2.pk}}" target="_blank">
                    {{ dpi.2.matricola_interna }}
                    {% if dpi.2.stato == 'v' %}
                    <i class="fa-solid fa-circle blu"></i>
                    {% endif%}
                </a>
            </td>
            <td class="text-center"> {{ dpi.2.messa_in_servizio|default_if_none:"" }}</td>
            <td class="text-center {{dpi.2.ck_revisione}}"> {{ dpi.2.data_verifica|default_if_none:"" }}</td>
            <td class="text-center"> {{ dpi.2.consegna2 }}</td>
            <td class="text-center"> {{ dpi.2.marca }} {{ dpi.2.modello }}</td>
            <td class="text-center"> {{ dpi.2.fabbricazione|date:"m/y" }}</td>
            <td class="text-center bordo-destro"> {{ dpi.2.matricola }}</td>
        </tr>
        {% endfor %}

        </tbody>

    </table>
</div>


<div style="break-inside: avoid;">
    <h2>Disponibili</h2>
    <div class="row text-center">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Imbracature</h3>
                    <table class="table table-striped table-sm">
                        <thead class="table-light sticky-top">
                        <tr class="text-center">
                            <td>ID</td>
                            <td>Modello</td>
                            <td>Matricola</td>
                            <td>Fabbricato</td>
                        </tr>
                        </thead>
                        {% for elemento in disponibili_imbracature %}
                        <tr>
                            <td>
                                <a href="/admin/sgi/dpi_anticaduta2/{{elemento.pk}}" target="_blank">
                                    {{elemento.matricola_interna}}
                                </a>
                            </td>
                            <td>{{elemento.modello_completo}}</td>
                            <td>{{elemento.matricola}}</td>
                            <td>{{elemento.fabbricazione|date:"m/y"}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Cordino Singolo</h3>
                    <table class="table table-striped table-sm">
                        <thead class="table-light sticky-top">
                        <tr class="text-center">
                            <td>ID</td>
                            <td>Modello</td>
                            <td>Matricola</td>
                            <td>Fabbricato</td>
                        </tr>
                        </thead>
                        {% for elemento in disponibili_cordino_singolo %}
                        <tr>
                            <td>
                                <a href="/admin/sgi/dpi_anticaduta2/{{elemento.pk}}" target="_blank">
                                    {{elemento.matricola_interna}}
                                </a>
                            </td>
                            <td>{{elemento.modello_completo}}</td>
                            <td>{{elemento.matricola}}</td>
                            <td>{{elemento.fabbricazione|date:"m/y"}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Cordino Doppio</h3>
                    <table class="table table-striped table-sm">
                        <thead class="table-light sticky-top">
                        <tr class="text-center">
                            <td>ID</td>
                            <td>Modello</td>
                            <td>Matricola</td>
                            <td>Fabbricato</td>
                        </tr>
                        </thead>
                        {% for elemento in disponibili_cordino_doppio %}
                        <tr>
                            <td><a href="/admin/sgi/dpi_anticaduta2/{{elemento.pk}}" target="_blank">
                                {{elemento.matricola_interna}}
                            </a>
                            <td>{{elemento.modello_completo}}</td>
                            <td>{{elemento.matricola}}</td>
                            <td>{{elemento.fabbricazione|date:"m/y"}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>


<div style="break-inside: avoid;">
    <h2>In Verifica</h2>
    <div class="row text-center">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Imbracature</h3>
                    <table class="table table-striped table-sm">
                        <thead class="table-light sticky-top">
                        <tr class="text-center">
                            <td>ID</td>
                            <td>Modello</td>
                            <td>Matricola</td>
                            <td>Fabbricato</td>
                            <td>Nominativo</td>
                        </tr>
                        </thead>
                        {% for elemento in verifica_imbracature %}
                        <tr>
                            <td>
                                <a href="/admin/sgi/dpi_anticaduta2/{{elemento.pk}}" target="_blank">
                                    {{elemento.matricola_interna}}
                                </a>
                                <i class="fa-solid fa-circle
                                {% if elemento.stato == 'v' %}
                                 blu
                                {% elif elemento.stato == 'vi' %}
                                arancio
                                {% elif elemento.stato == 'vd' %}
                                verde
                                {% endif%}
                                ">
                                </i>
                            </td>
                            <td>{{elemento.modello_completo}}</td>
                            <td>{{elemento.matricola}}</td>
                            <td>{{elemento.fabbricazione|date:"m/y"}}</td>
                            <td class="text-start">{{elemento.lavoratore|default_if_none:"-"}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Cordino Singolo</h3>
                    <table class="table table-striped table-sm">
                        <thead class="table-light sticky-top">
                        <tr class="text-center">
                            <td>ID</td>
                            <td>Modello</td>
                            <td>Matricola</td>
                            <td>Fabbricato</td>
                            <td>Nominativo</td>
                        </tr>
                        </thead>
                        {% for elemento in verifica_cordino_singolo %}
                        <tr>
                            <td>
                                <a href="/admin/sgi/dpi_anticaduta2/{{elemento.pk}}" target="_blank">
                                    {{elemento.matricola_interna}}
                                </a>
                                <i class="fa-solid fa-circle
                                {% if elemento.stato == 'v' %}
                                 blu
                                {% elif elemento.stato == 'vi' %}
                                arancio
                                {% elif elemento.stato == 'vd' %}
                                verde
                                {% endif%}
                                ">
                                </i>
                            </td>
                            <td>{{elemento.modello_completo}}</td>
                            <td>{{elemento.matricola}}</td>
                            <td>{{elemento.fabbricazione|date:"m/y"}}</td>
                            <td class="text-start">{{elemento.lavoratore|default_if_none:"-"}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Cordino Doppio</h3>
                    <table class="table table-striped table-sm">
                        <thead class="table-light sticky-top">
                        <tr class="text-center">
                            <td>ID</td>
                            <td>Modello</td>
                            <td>Matricola</td>
                            <td>Fabbricato</td>
                            <td>Nominativo</td>
                        </tr>
                        </thead>
                        {% for elemento in verifica_cordino_doppio %}
                        <tr>
                            <td>
                                <a href="/admin/sgi/dpi_anticaduta2/{{elemento.pk}}" target="_blank">
                                    {{elemento.matricola_interna}}
                                </a>
                                <i class="fa-solid fa-circle
                                {% if elemento.stato == 'v' %}
                                 blu
                                {% elif elemento.stato == 'vi' %}
                                arancio
                                {% elif elemento.stato == 'vd' %}
                                verde
                                {% endif%}
                                ">
                                </i>
                            </td>
                            <td>{{elemento.modello_completo}}</td>
                            <td>{{elemento.matricola}}</td>
                            <td>{{elemento.fabbricazione|date:"m/y"}}</td>
                            <td class="text-start">{{elemento.lavoratore|default_if_none:"-"}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

    </div>
    <p>
        <i class="fa-solid fa-circle blu"></i> In ufficio - da inviare a verifica |
        <i class="fa-solid fa-circle arancio"></i> Inviata - in verifica |
        <i class="fa-solid fa-circle verde"></i> In ufficio - verificato
    </p>
</div>

<div>
    <h2>Dismessi</h2>
    <div class="row text-center">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Imbracature</h3>
                    <table class="table table-striped table-sm">
                        <thead class="table-light sticky-top">
                        <tr class="text-center">
                            <td>ID</td>
                            <td>Modello</td>
                            <td>Matricola</td>
                            <td>Fabbricato</td>
                            <td>Dismesso</td>
                            <td>Nominativo</td>
                        </tr>
                        </thead>
                        {% for elemento in dismessi_imbracature %}
                        <tr>
                            <td><a href="/admin/sgi/dpi_anticaduta2/{{elemento.pk}}" target="_blank">
                                {{elemento.matricola_interna}}
                            </a></td>
                            <td>{{elemento.modello_completo}}</td>
                            <td>{{elemento.matricola}}</td>
                            <td>{{elemento.fabbricazione|date:"m/y"}}</td>
                            <td>{{elemento.dismissione}}</td>
                            <td class="text-start">{{elemento.lavoratore|default_if_none:"-"}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Cordino Singolo</h3>
                    <table class="table table-striped table-sm">
                        <thead class="table-light sticky-top">
                        <tr class="text-center">
                            <td>ID</td>
                            <td>Modello</td>
                            <td>Matricola</td>
                            <td>Fabbricato</td>
                            <td>Dismesso</td>
                            <td>Nominativo</td>
                        </tr>
                        </thead>
                        {% for elemento in dismessi_cordino_singolo %}
                        <tr>
                            <td><a href="/admin/sgi/dpi_anticaduta2/{{elemento.pk}}" target="_blank">
                                {{elemento.matricola_interna}}
                            </a></td>
                            <td>{{elemento.modello_completo}}</td>
                            <td>{{elemento.matricola}}</td>
                            <td>{{elemento.fabbricazione|date:"m/y"}}</td>
                            <td>{{elemento.dismissione}}</td>
                            <td class="text-start">{{elemento.lavoratore|default_if_none:"-"}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Cordino Doppio</h3>
                    <table class="table table-striped table-sm">
                        <thead class="table-light sticky-top">
                        <tr class="text-center">
                            <td>ID</td>
                            <td>Modello</td>
                            <td>Matricola</td>
                            <td>Fabbricato</td>
                            <td>Dismesso</td>
                            <td>Nominativo</td>
                        </tr>
                        </thead>
                        {% for elemento in dismessi_cordino_doppio %}
                        <tr>
                            <td><a href="/admin/sgi/dpi_anticaduta2/{{elemento.pk}}" target="_blank">
                                {{elemento.matricola_interna}}
                            </a></td>
                            <td>{{elemento.modello_completo}}</td>
                            <td>{{elemento.matricola}}</td>
                            <td>{{elemento.fabbricazione|date:"m/y"}}</td>
                            <td>{{elemento.dismissione}}</td>
                            <td class="text-start">{{elemento.lavoratore|default_if_none:"-"}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}
