{% extends "base.html" %}

{% block titolo %}
{{titolo}}
{% endblock %}

{% block menu_macro_sezione %}
{% include "./menu_sezione_sgi.html" %}
{% endblock %}


{% block menu_sezione %}
{% endblock %}


{% block corpo %}

{% load static %}


<div>
    <table class="table table-striped table-sm">
        <thead class="table-light sticky-top">
        <tr class="text-center">
            <th scope="col">Tipologia</th>
            <th scope="col">Messa in servizio</th>
            <th scope="col">Revisione</th>
            <th scope="col">Consegna</th>
            <th scope="col">Dismissione</th>
            <th scope="col">Lavoratore</th>
            <th scope="col">Marca</th>
            <th scope="col">Modello</th>
            <th scope="col">Fabbricazione</th>
            <th scope="col">Matricola</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for dpi in registro %}
        <tr {% if dpi.dismissione %} class="table-danger" {% endif%}>
            <td class="text-center">{{dpi.get_tipologia_display}}</td>
            <td class="text-center">{{dpi.messa_in_servizio|default_if_none:''}}</td>
            <td class="text-center {{dpi.ck_revisione}}">{{dpi.verifica|default_if_none:''}}</td>
            <td class="text-center">{{dpi.ultima_consegna_data|default_if_none:''}}</td>
            <td class="text-center">{{dpi.dismissione|default_if_none:''}}</td>
            <td>{{dpi.ultima_consegna_lavoratore|default_if_none:'DISPONIBILE'}}</td>
            <td class="text-center">{{dpi.marca}}</td>
            <td class="text-center">{{dpi.modello}}</td>
            <td class="text-center">{{dpi.fabbricazione}}</td>
            <td class="text-center">
                <a href="/admin/sgi/dpi_anticaduta2/{{dpi.pk}}/change/" target="_blank">{{dpi.matricola}}</a>
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
</div>


{% endblock %}
