{% extends "base.html" %}


{% block titolo %}
{% load static %}
{{titolo}}
<!--Consuntivo formazione anno 2023 al 05/12/23-->
{% endblock %}

{% block menu_macro_sezione %}
{% include "./menu_sezione_sgi.html" %}
{% endblock %}

{% block menu_sezione %}
<div class="col d-print-none">
    <div class="btn-group " role="group">
        <a href="/sgi/formazione/2024" class="btn btn-outline-primary {{pagina_attiva_formazione_2024}}">2024</a>
        <a href="/sgi/formazione/2023" class="btn btn-outline-primary {{pagina_attiva_formazione_2023}}">2023</a>
        <a href="/sgi/formazione/2022" class="btn btn-outline-primary {{pagina_attiva_formazione_2022}}">2022</a>
    </div>
</div>
<div class="col text-end d-print-none">
    <a href="/admin/sgi/formazione/add/" class="btn btn-outline-primary" target=”_blank”>
        <i class="fa-solid fa-square-plus"></i>
        Formazione
    </a>
</div>
{% endblock %}


{% block corpo %}

<!--{% load static %}-->

<div>
    <table class="table table-striped table-sm table-hover">
        <thead class="table-light sticky-top">
        <tr class="text-center">
            <th scope="col"></th>
            <th scope="col">Numero sessioni</th>
            <th scope="col">Ore formazione</th>
            <th scope="col">Ore formazione media procapite ({{organico_medio_annuo}} pax)</th>
        </tr>
        </thead>

        <tbody>
        {% for rigo in statistiche %}
        <tr>
            <th scope="row">{{ rigo.0 }}</th>
            <td class="text-center">{{ rigo.1 }}</td>
            <td class="text-center">{{ rigo.2|floatformat:1 }}</td>
            <td class="text-center">{{ rigo.3|floatformat:1}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


<div>
    <table class="table table-striped table-sm table-hover">

        <thead class="table-light sticky-top">
        <tr class="text-center">
            <th scope="col">Mese</th>
            <th scope="col">Corso</th>
            <th scope="col">Tipologia</th>
            <th scope="col">Data</th>
            <th scope="col">Argomento del corso</th>
            <th scope="col">Docente</th>
            <th scope="col">n. ore</th>
            <th scope="col">n. persone</th>
        </tr>
        </thead>

        <tbody>
        {% for corso in formazione %}
        <tr>
            <td>{{corso.get_mese_display}}</td>
            <td class="text-center">{{corso.corso|default_if_none:"-"}}</td>
            <td>{{corso.get_tipologia_display|default_if_none:"-"}}</td>
            <td class="text-center">{{corso.data|date:"d/m/y"}}</td>
            <td>{{corso.argomento}}</td>
            <td>{{corso.docente}}</td>
            <td class="text-center">{{corso.ore}}</td>
            <td class="text-center">{{corso.persone}}</td>
        </tr>
        {% endfor %}
        </tbody>

    </table>
</div>


<div class="d-print-none">
    <table class="table table-sm table-bordered">

        <thead>
        <tr class="text-center">
            <th scope="col">Revisione</th>
            <th scope="col">Data</th>
            <th scope="col">Redatto ASPP</th>
            <th scope="col">Verificato RSGI</th>
            <th scope="col">Autorizzato DIR</th>
        </tr>
        </thead>

        <tbody class="border border-secondary">
        <td class="text-center align-middle rigo_firme">0</td>
        <td class="text-center align-middle rigo_firme">{% now "SHORT_DATE_FORMAT" %}</td>
        <td></td>
        <td></td>
        <td></td>
        </tr>
        </tbody>

    </table>
</div>


{% endblock %}
