<div class="col text-end d-print-none">
    <div class="btn-group " role="group">
        <a href="/sgi/cassette_ps/" class="btn btn-outline-primary {{pagina_attiva_cassette_ps_registro}}">
            Registro
        </a>
        <a href="/sgi/cassette_ps_storico/" class="btn btn-outline-primary {{pagina_attiva_cassette_ps_storico}}">
            Storico verifiche
        </a>
        <a href="/sgi/cassette_ps_scadenze/" class="btn btn-outline-primary {{pagina_attiva_cassette_ps_scadenze}}">
            Scadenze
        </a>
    </div>
</div>