<div class="col d-print-none">
    <div class="btn-group " role="group">
        <a href="/sgi/dpi_anticaduta/registro"
           class="btn btn-outline-primary {{pagina_attiva_dpi_anticaduta_registro}}">Registro</a>
        <a href="/sgi/dpi_anticaduta/elenco"
        class="btn btn-outline-primary {{pagina_attiva_dpi_anticaduta_elenco}}">Elenco</a>
        <a href="/sgi/dpi_anticaduta/storia"
           class="btn btn-outline-primary {{pagina_attiva_dpi_anticaduta_storia}}">Storia</a>
    </div>
</div>