<div class="col text-end d-print-none">
    <div class="btn-group " role="group">
        <a href="/sgi/formazione"
           class="btn btn-outline-primary {{pagina_attiva_formazione}}">Formazione</a>
        <a href="/sgi/non_conformita"
           class="btn btn-outline-primary {{pagina_attiva_nc}}">Non Conformità</a>
        <a href="/sgi/scadenzario_dpi"
           class="btn btn-outline-primary {{pagina_attiva_scadenzario_dpi}}">Scadenzario DPI</a>
        <a href="/sgi/rilevatorih2s"
           class="btn btn-outline-primary {{pagina_attiva_rilevatorih2s}}">Rilevatori H2S</a>
        <a href="/sgi/dpi_anticaduta"
           class="btn btn-outline-primary {{pagina_attiva_dpi_anticaduta}}">DPI Anticaduta</a>
        <a href="/sgi/cassette_ps"
           class="btn btn-outline-primary {{pagina_attiva_cassette_ps}}">Cassette PS</a>
        <a href="/sgi/accessori_sollevamento"
           class="btn btn-outline-primary {{pagina_attiva_accessori_sollevamento}}">Accessori di Sollevamento</a>
        <a href="/admin/sgi" class="btn btn-outline-primary" target="_blank">Admin</a>
    </div>
</div>