<div class="col text-end d-print-none">
    <a href="/admin/sgi/verificacassettaps/add/" class="btn btn-outline-primary" target=”_blank”>
        <i class="fa-solid fa-square-plus"></i>
        Verifica
    </a>

    <div class="btn-group " role="group">
        <a href="/sgi/cassette_ps/" class="btn btn-outline-primary {{pagina_attiva_cassette_ps_registro}}" target=”_blank”>
            Registro
        </a>
        <a href="/sgi/cassette_ps_storico/" class="btn btn-outline-primary {{pagina_attiva_cassette_ps_storico}}"
           target=”_blank”>
            Storico verifiche
        </a>
        <a href="/sgi/cassette_ps_scadenze/" class="btn btn-outline-primary {{pagina_attiva_cassette_ps_scadenze}}"
           target=”_blank”>
            Scadenze
        </a>
    </div>
</div>