{% extends "base.html" %}


{% block titolo %}
{{titolo}}
{% endblock %}

{% block menu_macro_sezione %}
{% include "./menu_sezione_sgi.html" %}
{% endblock %}


{% block menu_sezione %}
<!--<div class="col">-->
<!--    <div class="btn-group " role="group">-->
<!--        <a href="/sgi/near_miss/2025"-->
<!--           class="btn btn-outline-primary {{pagina_attiva_near_miss_2025}}">2025</a>-->
<!--        <a href="/sgi/near_miss/2024"-->
<!--           class="btn btn-outline-primary {{pagina_attiva_near_miss_2024}}">2024</a>-->
<!--        <a href="/sgi/near_miss/2023"-->
<!--           class="btn btn-outline-primary {{pagina_attiva_near_miss_2023}}">2023</a>-->
<!--    </div>-->
<!--</div>-->


<div class="col text-end d-print-none">
    <div class="btn-group " role="group">
        <a href="/admin/sgi/nearmiss/add/" class="btn btn-outline-primary" target="_blank">
            <i class="fa-solid fa-square-plus" aria-hidden="true"></i>
            Near Miss/Medicazione</a>
    </div>
</div>
{% endblock %}


{% block corpo %}

<!--{% load static %}-->


<div>
    <table class="table table-striped table-sm">

        <thead class="table-light sticky-top">
        <tr class="text-center">
            <th scope="col">n</th>
            <th scope="col">Data</th>
            <th scope="col">Tipologia</th>
            <th scope="col">Lavoratore</th>
            <th scope="col">Descrizione</th>
            <th scope="col">Causa</th>
        </tr>
        </thead>

        <tbody>
        {% for near_miss in elenco_near_miss %}
        <tr style="page-break-inside: avoid;">
            <td class="text-center">
                <a href="/admin/sgi/nearmiss/{{near_miss.id}}" target="_blank">{{ forloop.revcounter }}</a>
            </td>
            <td>{{near_miss.data|date:"d/m/y"}}</td>
            <td>{{near_miss.get_tipologia_display}}</td>
            <td>{{near_miss.infortunato|default_if_none:""}}</td>
            <td>{{near_miss.descrizione|linebreaksbr}}</td>
            <td>{{near_miss.cause|linebreaksbr}}</td>
        </tr>
        {% endfor %}
        </tbody>

    </table>
</div>


<div>
    <table class="table table-sm table-bordered">

        <thead class="table-light">
        <tr class="text-center">
            <th scope="col">Revisione</th>
            <th scope="col">Data</th>
            <th scope="col">Redatto ASPP</th>
            <th scope="col">Verificato RSGI</th>
            <th scope="col">Autorizzato DIR</th>
        </tr>
        </thead>

        <tbody class="border border-secondary">
        <td class="text-center align-middle rigo_firme">0</td>
        <td class="text-center align-middle rigo_firme">{% now "SHORT_DATE_FORMAT" %}</td>
        <td></td>
        <td></td>
        <td></td>
        </tr>
        </tbody>

    </table>
</div>


{% endblock %}
