{% extends "base.html" %}

{% block titolo %}
{{titolo}}
{% endblock %}

{% block menu_macro_sezione %}
{% include "./menu_sezione_sgi.html" %}
{% endblock %}


{% block menu_sezione %}
<div class="col text-end d-print-none">
    <a href="/sgi/scadenzario_dpi_aggiorna/" class="btn btn-outline-primary">Aggiorna scadenze</a>
</div>
{% endblock %}


{% block corpo %}

{% load static %}


<div>
    <table class="table table-striped table-sm">
        <thead class="table-light sticky-top">
        <tr class="text-center">
            <th scope="col">Cognome</th>
            <th scope="col">Nome</th>
            <th scope="col">Marca</th>
            <th scope="col">Matricola</th>
            <th scope="col">Scadenza</th>
            <th scope="col">Bump Test</th>

        </tr>
        </thead>
        <tbody>
        {% for rilevatore in registro %}
        <tr>
            <td>
                {% if rilevatore.lavoratore.cognome %}
                {{rilevatore.lavoratore.cognome}}
                {% else %}
                {{rilevatore.get_uso_display}}
                {% endif %}
            </td>
            <td>{{rilevatore.lavoratore.nome}}</td>
            <td>{{rilevatore.get_marca_display}}</td>
            <td><a href="/admin/sgi/rilevatoreh2s/{{rilevatore.pk}}/change" target="_blank"> {{rilevatore.matricola}}</a></td>
            <td class="text-center">{{rilevatore.data_scadenza}}</td>
            <td class="text-center">{{rilevatore.data_bump_test|default_if_none:""}}</td>
        </tr>
        {% endfor %}

        {% for rilevatore in lista_rilevatorih2s %}
        <tr>
            <td>{{rilevatore.get_uso_display}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-center {{lavoratore.idoneita_ck}}">{{rilevatore.data_scadenza}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}
