{% extends "base.html" %}

{% block titolo %}
{{titolo}}
{% endblock %}

{% block menu_macro_sezione %}
{% include "./menu_sezione_sgi.html" %}
{% endblock %}


{% block menu_sezione %}
<div class="col text-end d-print-none">
    <a href="/sgi/scadenzario_dpi_aggiorna/" class="btn btn-outline-primary">Aggiorna scadenze</a>
</div>
{% endblock %}


{% block corpo %}

{% load static %}


<div>
    <table class="table table-striped table-sm">
        <thead class="table-light sticky-top">
        <tr class="text-center">
            <th scope="col">Cognome</th>
            <th scope="col">Nome</th>
            <th scope="col">Consegna DPI</th>
            <th scope="col">Elmetto</th>
            <th scope="col">Rilevatore H2S</th>
            <th scope="col">Maschera SC/SC</th>
            <th scope="col">Imbracatura</th>
            <th scope="col">Cordino Singolo</th>
            <th scope="col">Cordino Doppio</th>
        </tr>
        </thead>
        <tbody>
        {% for dpi in lista_dpi %}
        <tr>
            <td><a href="/admin/sgi/dpi2/{{dpi.pk}}/change/" target="_blank">{{dpi.lavoratore.cognome}}</a></td>
            <td>{{dpi.lavoratore.nome}}</td>
            <td class="text-center {{dpi.ck_consegna}}">
                <a href="{% static ''%}{{dpi.lavoratore}}/consegna_dpi {{dpi.consegna|date:'dmy'}}.pdf"
                   target="_blank">
                    {{dpi.consegna|date:"d/m/y"}}
                </a>
            </td>
            <td class="text-center {{dpi.ck_elmetto}}">{{dpi.elmetto|date:"m/y"}}</td>
            <td class="text-center {{dpi.ck_rilevatore}}">{{dpi.rilevatore|date:"d/m/y"}}</td>
            <td class="text-center {{dpi.ck_maschera}}">{{dpi.maschera|date:"m/y"}}</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% endfor %}

        {% for rilevatore in lista_rilevatorih2s %}
        <tr>
            <td>{{rilevatore.get_uso_display}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-center {{lavoratore.idoneita_ck}}">{{rilevatore.data_scadenza}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}
