<div class="col d-print-none">
    <div class="btn-group " role="group">
        <a href="/sgi/cassette_ps_storico/2025"
           class="btn btn-outline-primary {{pagina_attiva_cassette_ps_storico_2025}}">
            2025</a>
        <a href="/sgi/cassette_ps_storico/2024"
           class="btn btn-outline-primary {{pagina_attiva_cassette_ps_storico_2024}}">
            2024</a>
        <a href="/sgi/cassette_ps_storico/2023"
           class="btn btn-outline-primary {{pagina_attiva_cassette_ps_storico_2023}}">
            2023</a>
    </div>
</div>