{% extends "base.html" %}

{% block titolo %}
{{titolo}}
{% endblock %}

{% block menu_macro_sezione %}
{% include "./menu_macro_sezione_esterni.html" %}
{% endblock %}

{% block menu_sezione %}
{% endblock %}


{% block corpo %}

{% load static %}

<div>
    <table class="table table-striped table-sm">
        <thead class="table-light sticky-top">
        <tr class="text-center">
            <th scope="col">Cognome</th>
            <th scope="col">Nome</th>
            <th scope="col"  class="bordo-destro">Mansione</th>
            <th scope="col"  class="bordo-destro">UNILAV</th>
            <th scope="col"  class="bordo-destro">Idoneità</th>
            <th scope="col"  class="bordo-destro">Consegna DPI</th>
            <th scope="col">Art37
                {% if conteggio_rg.art37_r %}<span class="badge bg-danger">{{conteggio_rg.art37_r}}</span>{% endif %}
                {% if conteggio_rg.art37_g %}<span class="badge bg-warning text-dark">{{conteggio_rg.art37_g}}</span>{% endif %}
            </th>
            <th scope="col">Preposto
                {% if conteggio_rg.preposto_r %}<span class="badge bg-danger">{{conteggio_rg.preposto_r}}</span>{% endif %}
                {% if conteggio_rg.preposto_g %}<span class="badge bg-warning text-dark">{{conteggio_rg.preposto_g}}</span>{% endif %}
            </th>
            <th scope="col">Primo Soccorso
                {% if conteggio_rg.primo_soccorso_r %}<span class="badge bg-danger">{{conteggio_rg.primo_soccorso_r}}</span>{% endif %}
                {% if conteggio_rg.primo_soccorso_g %}<span class="badge bg-warning text-dark">{{conteggio_rg.primo_soccorso_g}}</span>{% endif %}
            </th>
            <th scope="col" class="bordo-destro">Antincendio
                {% if conteggio_rg.antincendio_r %}<span class="badge bg-danger">{{conteggio_rg.antincendio_r}}</span>{% endif %}
                {% if conteggio_rg.antincendio_g %}<span class="badge bg-warning text-dark">{{conteggio_rg.antincendio_g}}</span>{% endif %}
            </th>
            <th scope="col">Spazi Confinati
                {% if conteggio_rg.spazi_confinati_r %}<span class="badge bg-danger">{{conteggio_rg.spazi_confinati_r}}</span>{% endif %}
                {% if conteggio_rg.spazi_confinati_g %}<span class="badge bg-warning text-dark">{{conteggio_rg.spazi_confinati_g}}</span>{% endif %}
            </th>
            <th scope="col">Ponteggiatore
                {% if conteggio_rg.ponteggiatore_r %}<span class="badge bg-danger">{{conteggio_rg.ponteggiatore_r}}</span>{% endif %}
                {% if conteggio_rg.ponteggiatore_g %}<span class="badge bg-warning text-dark">{{conteggio_rg.ponteggiatore_g}}</span>{% endif %}
            </th>
            <th scope="col" class="bordo-destro">Imbracatore
                {% if conteggio_rg.imbracatore_r %}<span class="badge bg-danger">{{conteggio_rg.imbracatore_r}}</span>{% endif %}
                {% if conteggio_rg.imbracatore_g %}<span class="badge bg-warning text-dark">{{conteggio_rg.imbracatore_g}}</span>{% endif %}
            </th>
            <th scope="col">EPT
                {% if conteggio_rg.ept_r %}<span class="badge bg-danger">{{conteggio_rg.ept_r}}</span>{% endif %}
                {% if conteggio_rg.ept_g %}<span class="badge bg-warning text-dark">{{conteggio_rg.ept_g}}</span>{% endif %}
            </th>
            <th scope="col">Dumper
                {% if conteggio_rg.dumper_r %}<span class="badge bg-danger">{{conteggio_rg.dumper_r}}</span>{% endif %}
                {% if conteggio_rg.dumper_g %}<span class="badge bg-warning text-dark">{{conteggio_rg.dumper_g}}</span>{% endif %}
            </th>
            <th scope="col">Rullo
                {% if conteggio_rg.rullo_r %}<span class="badge bg-danger">{{conteggio_rg.rullo_r}}</span>{% endif %}
                {% if conteggio_rg.rullo_g %}<span class="badge bg-warning text-dark">{{conteggio_rg.rullo_g}}</span>{% endif %}
            </th>
            <th scope="col">Autogru
                {% if conteggio_rg.autogru_r %}<span class="badge bg-danger">{{conteggio_rg.autogru_r}}</span>{% endif %}
                {% if conteggio_rg.autogru_g %}<span class="badge bg-warning text-dark">{{conteggio_rg.autogru_g}}</span>{% endif %}
            </th>
            <th scope="col">Gru su Autocarro
                {% if conteggio_rg.gru_autocarro_r %}<span class="badge bg-danger">{{conteggio_rg.gru_autocarro_r}}</span>{% endif %}
                {% if conteggio_rg.gru_autocarro_g %}<span class="badge bg-warning text-dark">{{conteggio_rg.gru_autocarro_g}}</span>{% endif %}
            </th>
            <th scope="col">Carrello
                {% if conteggio_rg.carrello_r %}<span class="badge bg-danger">{{conteggio_rg.carrello_r}}</span>{% endif %}
                {% if conteggio_rg.carrello_g %}<span class="badge bg-warning text-dark">{{conteggio_rg.carrello_g}}</span>{% endif %}
            </th>
            <th scope="col">Sollevatore
                {% if conteggio_rg.sollevatore_r %}<span class="badge bg-danger">{{conteggio_rg.sollevatore_r}}</span>{% endif %}
                {% if conteggio_rg.sollevatore_g %}<span class="badge bg-warning text-dark">{{conteggio_rg.sollevatore_g}}</span>{% endif %}
            </th>
            <th scope="col" class="bordo-destro">PLE
                {% if conteggio_rg.ple_r %}<span class="badge bg-danger">{{conteggio_rg.ple_r}}</span>{% endif %}
                {% if conteggio_rg.ple_g %}<span class="badge bg-warning text-dark">{{conteggio_rg.ple_g}}</span>{% endif %}
            </th>
            <th scope="col">RLS
                {% if conteggio_rg.rls_r %}<span class="badge bg-danger">{{conteggio_rg.rls_r}}</span>{% endif %}
                {% if conteggio_rg.rls_g %}<span class="badge bg-warning text-dark">{{conteggio_rg.rls_g}}</span>{% endif %}
            </th>
            <th scope="col">ASPP
                {% if conteggio_rg.aspp_r %}<span class="badge bg-danger">{{conteggio_rg.aspp_r}}</span>{% endif %}
                {% if conteggio_rg.aspp_g %}<span class="badge bg-warning text-dark">{{conteggio_rg.aspp_g}}</span>{% endif %}
            </th>
        </tr>
        </thead>

        <tbody>
        {% for lavoratore in elenco_lavoratori %}
        <tr>
            <td>{{lavoratore.cognome}}</td>
            <td>{{lavoratore.nome}}</td>
            <td class="bordo-destro">{{lavoratore.qualifica|default_if_none:""}}</td>
            <td class="text-center bordo-destro">
                <a href="{% static ''%}{{lavoratore}}/unilav {{lavoratore.tipo_contratto}}.pdf" target="_blank">
                {{lavoratore.tipo_contratto}}</a>
            </td>            <td class="text-center bordo-destro">
                <a href="{% static ''%}{{lavoratore}}/idoneità {{lavoratore.idoneita_set.all.0.idoneita|date:"dmy"}}.pdf" target="_blank">
                {{lavoratore.idoneita_set.all.0.idoneita|date:"d/m/y"}}</a>
            </td>
            <td class="text-center bordo-destro">
            <a href="{% static ''%}{{lavoratore}}/consegna_dpi {{lavoratore.dpi_set.all.0.consegna|date:"dmy"}}.pdf" target="_blank">
                {{lavoratore.dpi_set.all.0.consegna|date:"d/m/y"}}</a>
            </td>
            <td class="text-center {{lavoratore.art37_ck}}">
                <a href="{% static ''%}{{lavoratore}}/attestati/art37 {{lavoratore.formazione_set.all.0.art37_dc|date:"dmy"}}.pdf" target="_blank">
                {{lavoratore.formazione_set.all.0.art37|date:"d/m/y"}}
                </a>
            </td>
            <td class="text-center {{lavoratore.formazione_set.all.0.preposto_ck}}">
                <a href="{% static ''%}{{lavoratore}}/attestati/preposto {{lavoratore.formazione_set.all.0.preposto_dc|date:"dmy"}}.pdf" target="_blank">
                {{lavoratore.formazione_set.all.0.preposto|date:"d/m/y"}}</a>
                {% if lavoratore.formazione_set.all.0.nomina_preposto %}
                <a href="{% static ''%}{{lavoratore}}/nomine/nomina_preposto {{lavoratore.formazione_set.all.0.nomina_preposto|date:"dmy"}}.pdf" target="_blank">
                <i class="fa-solid fa-file-lines"></i></a>
                {% endif %}
            </td>
            <td class="text-center {{lavoratore.primo_soccorso_ck}}">
                <a href="{% static ''%}{{lavoratore}}/attestati/primo_soccorso {{lavoratore.formazione_set.all.0.primo_soccorso_dc|date:"dmy"}}.pdf" target="_blank">
                {{lavoratore.formazione_set.all.0.primo_soccorso|date:"d/m/y"}}</a>
                {% if lavoratore.formazione_set.all.0.nomina_primo_soccorso %}
                <a href="{% static ''%}{{lavoratore}}/nomine/nomina_primo_soccorso {{lavoratore.formazione_set.all.0.nomina_primo_soccorso|date:"dmy"}}.pdf" target="_blank">
                <i class="fa-solid fa-file-lines"></i></a>
                {% endif %}
            </td>
            <td class="bordo-destro text-center {{lavoratore.formazione_set.all.0.antincendio_ck}}">
                <a href="{% static ''%}{{lavoratore}}/attestati/antincendio {{lavoratore.formazione_set.all.0.antincendio_dc|date:"dmy"}}.pdf" target="_blank">
                {{lavoratore.formazione_set.all.0.antincendio|date:"d/m/y"}}</a>
                {% if lavoratore.formazione_set.all.0.nomina_antincendio %}
                <a href="{% static ''%}{{lavoratore}}/nomine/nomina_antincendio {{lavoratore.formazione_set.all.0.nomina_antincendio|date:"dmy"}}.pdf" target="_blank">
                <i class="fa-solid fa-file-lines"></i></a>
                {% endif %}
            </td>
            <td class="text-center {{lavoratore.formazione_set.all.0.spazi_confinati_ck}}">
                <a href="{% static ''%}{{lavoratore}}/attestati/spazi_confinati {{lavoratore.formazione_set.all.0.spazi_confinati_dc|date:"dmy"}}.pdf" target="_blank">
                {{lavoratore.formazione_set.all.0.spazi_confinati|date:"d/m/y"}}
                </a>
            </td>
            <td class="text-center {{lavoratore.formazione_set.all.0.ponteggiatore_ck}}">
                <a href="{% static ''%}{{lavoratore}}/attestati/ponteggiatore {{lavoratore.formazione_set.all.0.ponteggiatore_dc|date:"dmy"}}.pdf" target="_blank">
                {{lavoratore.formazione_set.all.0.ponteggiatore|date:"d/m/y"}}
                </a>
            </td>
            <td class="bordo-destro text-center {{lavoratore.formazione_set.all.0.imbracatore_ck}}">
                <a href="{% static ''%}{{lavoratore}}/attestati/imbracatore {{lavoratore.formazione_set.all.0.imbracatore_dc|date:"dmy"}}.pdf" target="_blank">
                {{lavoratore.formazione_set.all.0.imbracatore|date:"d/m/y"}}</a>
                {% if lavoratore.formazione_set.all.0.nomina_preposto_imbracatore %}
                <a href="{% static ''%}{{lavoratore}}/nomine/nomina_preposto_imbracatore {{lavoratore.formazione_set.all.0.nomina_preposto_imbracatore|date:"dmy"}}.pdf" target="_blank">
                <i class="fa-solid fa-file-lines"></i></a>
                {% endif %}
            </td>
            <td class="text-center {{lavoratore.formazione_set.all.0.ept_ck}}">
                <a href="{% static ''%}{{lavoratore}}/attestati/ept {{lavoratore.formazione_set.all.0.ept_dc|date:"dmy"}}.pdf" target="_blank">
                {{lavoratore.formazione_set.all.0.ept|date:"d/m/y"}}
                </a>
            </td>
            <td class="text-center {{lavoratore.formazione_set.all.0.dumper_ck}}">
                <a href="{% static ''%}{{lavoratore}}/attestati/dumper {{lavoratore.formazione_set.all.0.dumper_dc|date:"dmy"}}.pdf" target="_blank">
                {{lavoratore.formazione_set.all.0.dumper|date:"d/m/y"}}
                </a>
            </td>
            <td class="text-center {{lavoratore.formazione_set.all.0.rullo_ck}}">
                <a href="{% static ''%}{{lavoratore}}/attestati/rullo {{lavoratore.formazione_set.all.0.rullo_dc|date:"dmy"}}.pdf" target="_blank">
                {{lavoratore.formazione_set.all.0.rullo|date:"d/m/y"}}
                </a>
            </td>
            <td class="text-center {{lavoratore.formazione_set.all.0.autogru_ck}}">
                <a href="{% static ''%}{{lavoratore}}/attestati/autogru {{lavoratore.formazione_set.all.0.autogru_dc|date:"dmy"}}.pdf" target="_blank">
                {{lavoratore.formazione_set.all.0.autogru|date:"d/m/y"}}
                </a>
            </td>
            <td class="text-center {{lavoratore.formazione_set.all.0.gru_autocarro_ck}}">
                <a href="{% static ''%}{{lavoratore}}/attestati/gru_autocarro {{lavoratore.formazione_set.all.0.gru_autocarro_dc|date:"dmy"}}.pdf" target="_blank">
                {{lavoratore.formazione_set.all.0.gru_autocarro|date:"d/m/y"}}
                </a>
            </td>
            <td class="text-center {{lavoratore.formazione_set.all.0.carrello_ck}}">
                {% if lavoratore.carrello %}
                <a href="{% static ''%}{{lavoratore}}/attestati/carrello {{lavoratore.formazione_set.all.0.carrello_dc|date:"dmy"}}.pdf" target="_blank">
                {{lavoratore.formazione_set.all.0.carrello|date:"d/m/y"}}
                </a>
                {% elif lavoratore.sollevatore %}
                <a href="{% static ''%}{{lavoratore}}/attestati/sollevatore {{lavoratore.formazione_set.all.0.sollevatore_dc|date:"dmy"}}.pdf" target="_blank">
                    <i class="fa-solid fa-right-long"></i>
                </a>
                {% endif %}
            </td>
            <td class="text-center {{lavoratore.formazione_set.all.0.sollevatore_ck}}">
                <a href="{% static ''%}{{lavoratore}}/attestati/sollevatore {{lavoratore.formazione_set.all.0.sollevatore_dc|date:"dmy"}}.pdf" target="_blank">
                {{lavoratore.formazione_set.all.0.sollevatore|date:"d/m/y"}}
                </a>
            </td>
            <td class="bordo-destro text-center {{lavoratore.formazione_set.all.0.ple_ck}}">
                <a href="{% static ''%}{{lavoratore}}/attestati/ple {{lavoratore.formazione_set.all.0.ple_dc|date:"dmy"}}.pdf" target="_blank">
                {{lavoratore.formazione_set.all.0.ple|date:"d/m/y"}}
                </a>
            </td>
            <td class="text-center {{lavoratore.formazione_set.all.0.rls_ck}}">
                <a href="{% static ''%}{{lavoratore}}/attestati/rls {{lavoratore.formazione_set.all.0.rls_dc|date:"dmy"}}.pdf" target="_blank">
                {{lavoratore.formazione_set.all.0.rls|date:"d/m/y"}}
                </a>
            </td>
            <td class="text-center {{lavoratore.formazione_set.all.0.aspp_ck}}">
                <a href="{% static ''%}{{lavoratore}}/attestati/aspp {{lavoratore.formazione_set.all.0.aspp_dc|date:"dmy"}}.pdf" target="_blank">
                {{lavoratore.formazione_set.all.0.aspp|date:"d/m/y"}}
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>

    </table>
</div>


{% endblock %}
