{% extends "base.html" %}


{% block titolo %}
{{titolo}}
{% endblock %}


{% block menu_macro_sezione %}
{% include "./0_menu_macro_sezione_personale.html" %}
{% endblock %}


{% block menu_sezione %}
{% include "./1_sottomenu_sezione_personale.html" %}
{% endblock %}


{% block corpo %}
{% load static %}

<div>
    <table class="table table-striped table-sm">
        <thead class="table-light sticky-top">
        <tr class="text-center">
            <th scope="col">Matricola</th>
            <th scope="col">Cognome</th>
            <th scope="col">Nome</th>
            <th scope="col">Nato il</th>
            <th scope="col">Luogo di nascita</th>
            <th scope="col">Prov.</th>
            <th scope="col">Codice Fiscale</th>
            <th scope="col">Indirizzo</th>
            <th scope="col">CAP</th>
            <th scope="col">Città</th>
            <th scope="col">Prov.</th>
            <th scope="col">Cellulare</th>
            <th scope="col">Email</th>
            <th scope="col">Contr.</th>
            <th scope="col">Inizio</th>
            <th scope="col">Fine</th>
            <th scope="col">Liv.</th>
            <th scope="col">Assunzione</th>
            <th scope="col">Busta paga</th>
            <th scope="col">Qualifica</th>
            <th scope="col">Sesso</th>
            <th scope="col">Cantiere</th>
        </tr>
        </thead>
        <tbody>
        {% for lavoratore in lavoratori%}
        <tr>
            <td class="text-center">{{lavoratore.matricola}}</td>
            <td>{{lavoratore.cognome}}</td>
            <td>{{lavoratore.nome}}</td>
            <td>{{lavoratore.data_nascita|date:"d/m/y"}}</td>
            <td class="text-center">{{lavoratore.luogo_nascita|default_if_none:""}}</td>
            <td class="text-center">{{lavoratore.provincia_nascita|default_if_none:""|default_if_none:""}}</td>
            <td class="ff_monospace">{{lavoratore.cf|default_if_none:""}}</td>
            <td class="text-center">{{lavoratore.indirizzo|default_if_none:""}}</td>
            <td class="text-center">{{lavoratore.cap|default_if_none:""}}</td>
            <td class="text-center">{{lavoratore.citta|default_if_none:""}}</td>
            <td class="text-center">{{lavoratore.provincia|default_if_none:""}}</td>
            <td>{{lavoratore.cellulare|default_if_none:""}}</td>
            <td class="text-center">{{lavoratore.email|default_if_none:""}}</td>
            <td class="text-center">{{lavoratore.tipo_contratto}}</td>
            <td>{{lavoratore.data_inizio|date:"d/m/y"}}</td>
            <td>{{lavoratore.data_fine|default_if_none:""|date:"d/m/y"}}</td>
            <td class="text-center">{{lavoratore.livello|default_if_none:""}}</td>
            <td class="text-center">{{lavoratore.assunzione|default_if_none:""}}</td>
            <td class="text-center">{{lavoratore.busta_paga|default_if_none:""}}</td>
            <td class="text-center">{{lavoratore.qualifica|default_if_none:""}}</td>
            <td class="text-center">{{lavoratore.sesso|default_if_none:""}}</td>
            <td class="text-center">{{lavoratore.cantiere|default_if_none:""}}</td>
        </tr>
        {% endfor %}
        </tbody>


    </table>
</div>


{% endblock %}
