{% extends "base.html" %}

{% block titolo %}
{{ titolo }}
{% endblock %}


{% block menu_macro_sezione %}
{% include "./0_menu_macro_sezione_personale.html" %}
{% endblock %}


{% block menu_sezione %}
{% include "./1_sottomenu_sezione_personale.html" %}
{% endblock %}


{% block corpo %}

{% load static %}

<div>
    <table class="table table-striped table-sm">

        <thead class="table-light sticky-top">
        <tr class="text-center">
            <th scope="col">Cognome</th>
            <th scope="col">Nome</th>
            {% for documento in documenti %}
            <th scope="col">{{ documento|title }}</th>
            {% endfor %}
        </tr>
        </thead>

        <tbody>
        {% for lavoratore, attestati, nomine, documenti in tabella %}
        <tr>
            <td>{{lavoratore.0}}</td>
            <td>{{lavoratore.1}}</td>

            {% for attestato in attestati %}
            <td class="text-center {{attestato.1}}">{{attestato.0|default_if_none:""}}</td>
            {% endfor %}

            {% for nomina in nomine %}
            <td class="text-center">
                {% if nomina %}
                <i class="fa-solid fa-file-lines" aria-hidden="true"></i>
                {% endif%}
            </td>
            {% endfor %}

            {% for documento in documenti %}
            <td class="text-center">
                {% if documento %}
                <i class="fa-solid fa-file-lines" aria-hidden="true"></i>
                {% endif%}
            </td>
            {% endfor %}

        </tr>
        {% endfor %}
        </tbody>

    </table>

    <div>
        <p class="text-primary">
            Scarica tutto
            <i class="fa-solid fa-arrow-right-long"></i>
            <a href="{% static '' %}{{zip}}" target="_blank">
                <i class="fa-solid fa-file-zipper fa-2xl"></i>
            </a>
        </p>
    </div>

</div>


<div class="container">

    <!--    <div class="row">-->
    <!--        {% for lavoratore in lavoratori %}-->
    <!--        <p>{{ lavoratore }}</p>-->
    <!--        {% endfor %}-->
    <!--    </div>-->


    <!--    <div class="row">-->
    <!--        {% for documento in documenti %}-->
    <!--        <p>{{ documento }}</p>-->
    <!--        {% endfor %}-->
    <!--    </div>-->


</div>


{% endblock %}
