{% extends "base.html" %}

{% block titolo %}
{{ titolo }}
{% endblock %}


{% block menu_sezione %}
{% endblock %}


{% block corpo %}
<div class="container-fluid">
    <form action="./dati_estratti" method="post" name="lavoratori">
        {% csrf_token %}
        <input type="submit" value="Submit"><br>

        <div class="row">
            <div class="h2">Lavoratori</div>
        </div>

        <div class="row">
            {% for gruppo in gruppi_lavoratori %}
            <div class="col-2">
                {% for lavoratore in gruppo %}
                <input type="checkbox" id="{{lavoratore.pk}}" name="{{lavoratore.pk}}" value="{{lavoratore}}">
                <label for="{{lavoratore.pk}}">{{lavoratore}}</label><br>
                {% endfor %}
            </div>
            {% endfor %}
        </div>


        <div class="row">
            <div class="h2">
                <div class="h2">Documenti</div>
            </div>
        </div>


        <div class="row">
            {% for gruppo in gruppi_formazione %}
            <div class="col-2">
                {% for formazione in gruppo %}
                <input type="checkbox" id="{{formazione}}" name="{{formazione}}" value="{{formazione}}_">
                <label for="{{formazione}}">{{formazione|title}}</label><br>
                {% endfor %}
            </div>
            {% endfor %}
        </div>


        <div class="row">
            <div class="h2">
                <div class="h2">Nomine</div>
            </div>
        </div>

        <div class="row">
            {% for gruppo in gruppi_nomine %}
            <div class="col-2">
                {% for nomina in gruppo %}
                <input type="checkbox" id="{{nomina}}" name="{{nomina}}" value="{{nomina}}_">
                <label for="{{nomina}}">{{nomina|title}}</label><br>
                {% endfor %}
            </div>
            {% endfor %}
        </div>


        <input type="submit" value="Submit">
    </form>


</div>


{% endblock %}
