{% extends "base.html" %}

{% block titolo %}
{{titolo}}
{% endblock %}


{% block menu_sezione %}
<div class="col d-print-none">
    <div class="btn-group " role="group">
        <a href="/personale/scadenzario_formazione_schede/corrente"
           class="btn btn-outline-primary {{pagina_attiva_formazione_corrente}}">Corrente</a>
        <a href="/personale/scadenzario_formazione_schede/prossimo"
           class="btn btn-outline-primary {{pagina_attiva_formazione_prossimo}}">Prossimo</a>
    </div>
</div>
<div class="col text-end d-print-none">
    <a href="/personale/scadenzario_formazione" class="btn btn-outline-success">Scadenzario Trimestrale</a>
</div>
{% endblock %}

{% block menu_macro_sezione %}
{% include "./menu_sezione_personale.html" %}
{% endblock %}

{% block corpo %}

{% load static %}

<div class="row">

    {% for corso, gruppi_lavoratori, conteggi in scadenze %}
    <div class="col-{{conteggi.4}}">

        <div class="card">

            <div class="card-header">
                <h5 class="card-title">{{corso|upper}} <span class="badge rounded-pill bg-primary">{{ conteggi.3 }}</span></h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">
                    {% if conteggi.0 %}<span class="badge rounded-pill bg-success">{{ conteggi.0 }}</span>{% endif %}
                    {% if conteggi.1 %}<span class="badge rounded-pill bg-warning">{{ conteggi.1 }}</span>{% endif %}
                    {% if conteggi.2 %}<span class="badge rounded-pill bg-danger">{{ conteggi.2 }}</span>{% endif %}
                </h6>
            </div>

            <div class="card-body">
                <div class="row">
                    {% for gruppo in gruppi_lavoratori %}
                    <div class="col ">
                        {% for lavoratore in gruppo %}
                        <div class="row {{lavoratore.3}}">
                            <div class="col-8">{{lavoratore.0}} {{lavoratore.1}}</div>
                            <div class="col-4">{{lavoratore.2}}</div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>

    </div>
    {% endfor %}

</div>

{% endblock %}
