{% extends "base.html" %}

{% block titolo %}
{{titolo}}
{% endblock %}


{% block menu_sezione %}
{% endblock %}


{% block corpo %}

{% load static %}

<div class="row">

    {% for corso, lavoratori, conteggi in scadenze %}
    <div class="col">

        <div class="card">

            <div class="card-header">
                <h5 class="card-title">{{corso|upper}}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">
                    <span class="badge rounded-pill bg-primary">{{ conteggi.3 }}</span>
                    <span class="badge rounded-pill bg-success">{{ conteggi.0 }}</span>
                    <span class="badge rounded-pill bg-warning">{{ conteggi.1 }}</span>
                    <span class="badge rounded-pill bg-danger">{{ conteggi.2 }}</span>
                </h6>
            </div>

            <div class="card-body">
                <ul class="list-group list-group-flush">
                    {% for lavoratore in lavoratori %}
                    <li class="list-group-item {{lavoratore.3}}">
                        <div><span class="">{{lavoratore.0}} {{lavoratore.1}}</span></div>
                        <div>{{lavoratore.2}}</div>
                    </li>
                    {% endfor %}
                </ul>
            </div>

        </div>

    </div>
    {% endfor %}

</div>

{% endblock %}
