{% extends "base.html" %}

{% block titolo %}
{{titolo}}
{% endblock %}

{% block menu_macro_sezione %}
{% include "./0_menu_macro_sezione_personale.html" %}
{% endblock %}

{% block menu_sezione %}
<div class="col d-print-none">
    <a href="/personale/scadenzario_formazione_schede/corrente" class="btn btn-outline-primary">
        Scadenzario Annuale</a>
</div>

{% include "./1_sottomenu_sezione_personale.html" %}
{% endblock %}



{% block corpo %}

{% load static %}


<div>
    <table class="table table-striped table-sm">

        <thead class="table-light sticky-top">
        <tr class="text-center">
            <th scope="col">Stato
                {% if conteggio_rg.stato_r %}<span class="badge bg-danger">{{conteggio_rg.stato_r}}</span>{% endif %}
                {% if conteggio_rg.stato_g %}<span class="badge bg-warning text-dark">{{conteggio_rg.stato_g}}</span>{% endif %}
            </th>
            <th scope="col">Cognome</th>
            <th scope="col">Nome</th>
            <th scope="col"  class="bordo-destro">Mansione</th>
<!--            <th scope="col">Cantiere</th>-->
            <th scope="col">Art37
                {% if conteggio_rg.art37_r %}<span class="badge bg-danger">{{conteggio_rg.art37_r}}</span>{% endif %}
                {% if conteggio_rg.art37_g %}<span class="badge bg-warning text-dark">{{conteggio_rg.art37_g}}</span>{% endif %}
            </th>
            <th scope="col">Preposto
                {% if conteggio_rg.preposto_r %}<span class="badge bg-danger">{{conteggio_rg.preposto_r}}</span>{% endif %}
                {% if conteggio_rg.preposto_g %}<span class="badge bg-warning text-dark">{{conteggio_rg.preposto_g}}</span>{% endif %}
            </th>
<!--            <th scope="col" class="bordo-destro">Dirigente**-->
<!--                {% if conteggio_rg.dirigente_r %}<span class="badge bg-danger">{{conteggio_rg.dirigente_r}}</span>{% endif %}-->
<!--                {% if conteggio_rg.dirigente_g %}<span class="badge bg-warning text-dark">{{conteggio_rg.dirigente_g}}</span>{% endif %}-->
<!--            </th>-->
            <th scope="col">Primo Soccorso
                {% if conteggio_rg.primo_soccorso_r %}<span class="badge bg-danger">{{conteggio_rg.primo_soccorso_r}}</span>{% endif %}
                {% if conteggio_rg.primo_soccorso_g %}<span class="badge bg-warning text-dark">{{conteggio_rg.primo_soccorso_g}}</span>{% endif %}
            </th>
            <th scope="col" class="bordo-destro">Antincendio*
                {% if conteggio_rg.antincendio_r %}<span class="badge bg-danger">{{conteggio_rg.antincendio_r}}</span>{% endif %}
                {% if conteggio_rg.antincendio_g %}<span class="badge bg-warning text-dark">{{conteggio_rg.antincendio_g}}</span>{% endif %}
            </th>
            <th scope="col">Spazi Confinati
                {% if conteggio_rg.spazi_confinati_r %}<span class="badge bg-danger">{{conteggio_rg.spazi_confinati_r}}</span>{% endif %}
                {% if conteggio_rg.spazi_confinati_g %}<span class="badge bg-warning text-dark">{{conteggio_rg.spazi_confinati_g}}</span>{% endif %}
            </th>
            <th scope="col">Ponteggiatore
                {% if conteggio_rg.ponteggiatore_r %}<span class="badge bg-danger">{{conteggio_rg.ponteggiatore_r}}</span>{% endif %}
                {% if conteggio_rg.ponteggiatore_g %}<span class="badge bg-warning text-dark">{{conteggio_rg.ponteggiatore_g}}</span>{% endif %}
            </th>
            <th scope="col" class="bordo-destro">Imbracatore
                {% if conteggio_rg.imbracatore_r %}<span class="badge bg-danger">{{conteggio_rg.imbracatore_r}}</span>{% endif %}
                {% if conteggio_rg.imbracatore_g %}<span class="badge bg-warning text-dark">{{conteggio_rg.imbracatore_g}}</span>{% endif %}
            </th>
            <th scope="col">EPT
                {% if conteggio_rg.ept_r %}<span class="badge bg-danger">{{conteggio_rg.ept_r}}</span>{% endif %}
                {% if conteggio_rg.ept_g %}<span class="badge bg-warning text-dark">{{conteggio_rg.ept_g}}</span>{% endif %}
            </th>
            <th scope="col">Dumper
                {% if conteggio_rg.dumper_r %}<span class="badge bg-danger">{{conteggio_rg.dumper_r}}</span>{% endif %}
                {% if conteggio_rg.dumper_g %}<span class="badge bg-warning text-dark">{{conteggio_rg.dumper_g}}</span>{% endif %}
            </th>
            <th scope="col">Rullo
                {% if conteggio_rg.rullo_r %}<span class="badge bg-danger">{{conteggio_rg.rullo_r}}</span>{% endif %}
                {% if conteggio_rg.rullo_g %}<span class="badge bg-warning text-dark">{{conteggio_rg.rullo_g}}</span>{% endif %}
            </th>
            <th scope="col">Autogru
                {% if conteggio_rg.autogru_r %}<span class="badge bg-danger">{{conteggio_rg.autogru_r}}</span>{% endif %}
                {% if conteggio_rg.autogru_g %}<span class="badge bg-warning text-dark">{{conteggio_rg.autogru_g}}</span>{% endif %}
            </th>
            <th scope="col">Gru su Autocarro
                {% if conteggio_rg.gru_autocarro_r %}<span class="badge bg-danger">{{conteggio_rg.gru_autocarro_r}}</span>{% endif %}
                {% if conteggio_rg.gru_autocarro_g %}<span class="badge bg-warning text-dark">{{conteggio_rg.gru_autocarro_g}}</span>{% endif %}
            </th>
            <th scope="col">Carrello
                {% if conteggio_rg.carrello_r %}<span class="badge bg-danger">{{conteggio_rg.carrello_r}}</span>{% endif %}
                {% if conteggio_rg.carrello_g %}<span class="badge bg-warning text-dark">{{conteggio_rg.carrello_g}}</span>{% endif %}
            </th>
            <th scope="col">Sollevatore
                {% if conteggio_rg.sollevatore_r %}<span class="badge bg-danger">{{conteggio_rg.sollevatore_r}}</span>{% endif %}
                {% if conteggio_rg.sollevatore_g %}<span class="badge bg-warning text-dark">{{conteggio_rg.sollevatore_g}}</span>{% endif %}
            </th>
            <th scope="col" class="bordo-destro">PLE
                {% if conteggio_rg.ple_r %}<span class="badge bg-danger">{{conteggio_rg.ple_r}}</span>{% endif %}
                {% if conteggio_rg.ple_g %}<span class="badge bg-warning text-dark">{{conteggio_rg.ple_g}}</span>{% endif %}
            </th>
            <th scope="col">RLS
                {% if conteggio_rg.rls_r %}<span class="badge bg-danger">{{conteggio_rg.rls_r}}</span>{% endif %}
                {% if conteggio_rg.rls_g %}<span class="badge bg-warning text-dark">{{conteggio_rg.rls_g}}</span>{% endif %}
            </th>
            <th scope="col">ASPP
                {% if conteggio_rg.aspp_r %}<span class="badge bg-danger">{{conteggio_rg.aspp_r}}</span>{% endif %}
                {% if conteggio_rg.aspp_g %}<span class="badge bg-warning text-dark">{{conteggio_rg.aspp_g}}</span>{% endif %}
            </th>
        </tr>
        </thead>

        <tbody>
        {% for lavoratore in formazione %}
        <tr>
            <td class="text-center"><i class="fa-solid fa-circle {{lavoratore.stato}}"></i></td>
            <td>{{lavoratore.lavoratore.cognome}}</td>
            <td>{{lavoratore.lavoratore.nome}}</td>
            <td class="bordo-destro">{{lavoratore.lavoratore.mansione|default_if_none:""}}</td>
<!--            <td>{{lavoratore.lavoratore.cantiere|default_if_none:""}}</td>-->
            <td class="text-center {{lavoratore.art37_ck}}">
                <a href="{% static ''%}{{lavoratore.lavoratore}}/attestati/art37 {{lavoratore.art37_dc|date:'dmy'}}.pdf" target="_blank">
                {{lavoratore.art37|date:"d/m/y"}}
                </a>
            </td>
            <td class="text-center {{lavoratore.preposto_ck}}">
                <a href="{% static ''%}{{lavoratore.lavoratore}}/attestati/preposto {{lavoratore.preposto_dc|date:'dmy'}}.pdf" target="_blank">
                {{lavoratore.preposto|date:"d/m/y"}}</a>
                {% if lavoratore.nomina_preposto %}
                <a href="{% static ''%}{{lavoratore.lavoratore}}/nomine/nomina_preposto {{lavoratore.nomina_preposto|date:'dmy'}}.pdf" target="_blank">
                <i class="fa-solid fa-file-lines"></i></a>
                {% endif %}
<!--                {% if lavoratore.nomina_preposto_subappalti %}-->
<!--                <a href="{% static ''%}{{lavoratore.lavoratore}}/nomine/nomina_preposto_subappalti {{lavoratore.nomina_preposto_subappalti|date:'dmy'}}.pdf" target="_blank">-->
<!--                <i class="fa-solid fa-file-arrow-down"></i></a>-->
<!--                {% endif %}-->
            </td>
<!--            <td class="bordo-destro text-center {{lavoratore.dirigente_ck}}">-->
<!--                <a href="{% static ''%}{{lavoratore.lavoratore}}/attestati/dirigente {{lavoratore.dirigente_dc|date:'dmy'}}.pdf" target="_blank">-->
<!--                {{lavoratore.dirigente|date:"d/m/y"}}-->
<!--                </a>-->
<!--            </td>-->
            <td class="text-center {{lavoratore.primo_soccorso_ck}}">
                <a href="{% static ''%}{{lavoratore.lavoratore}}/attestati/primo_soccorso {{lavoratore.primo_soccorso_dc|date:'dmy'}}.pdf" target="_blank">
                {{lavoratore.primo_soccorso|date:"d/m/y"}}</a>
                {% if lavoratore.nomina_primo_soccorso %}
                <a href="{% static ''%}{{lavoratore.lavoratore}}/nomine/nomina_primo_soccorso {{lavoratore.nomina_primo_soccorso|date:'dmy'}}.pdf" target="_blank">
                <i class="fa-solid fa-file-lines"></i></a>
                {% endif %}
            </td>
            <td class="bordo-destro text-center {{lavoratore.antincendio_ck}}">
                <a href="{% static ''%}{{lavoratore.lavoratore}}/attestati/antincendio {{lavoratore.antincendio_dc|date:'dmy'}}.pdf" target="_blank">
                {{lavoratore.antincendio|date:"d/m/y"}}</a>
                {% if lavoratore.nomina_antincendio %}
                <a href="{% static ''%}{{lavoratore.lavoratore}}/nomine/nomina_antincendio {{lavoratore.nomina_antincendio|date:'dmy'}}.pdf" target="_blank">
                <i class="fa-solid fa-file-lines"></i></a>
                {% endif %}
            </td>
            <td class="text-center {{lavoratore.spazi_confinati_ck}}">
                <a href="{% static ''%}{{lavoratore.lavoratore}}/attestati/spazi_confinati {{lavoratore.spazi_confinati_dc|date:'dmy'}}.pdf" target="_blank">
                {{lavoratore.spazi_confinati|date:"d/m/y"}}
                </a>
            </td>
            <td class="text-center {{lavoratore.ponteggiatore_ck}}">
                <a href="{% static ''%}{{lavoratore.lavoratore}}/attestati/ponteggiatore {{lavoratore.ponteggiatore_dc|date:'dmy'}}.pdf" target="_blank">
                {{lavoratore.ponteggiatore|date:"d/m/y"}}
                </a>
            </td>
            <td class="bordo-destro text-center {{lavoratore.imbracatore_ck}}">
                <a href="{% static ''%}{{lavoratore.lavoratore}}/attestati/imbracatore {{lavoratore.imbracatore_dc|date:'dmy'}}.pdf" target="_blank">
                {{lavoratore.imbracatore|date:"d/m/y"}}</a>
                {% if lavoratore.nomina_preposto_imbracatore %}
                <a href="{% static ''%}{{lavoratore.lavoratore}}/nomine/nomina_preposto_imbracatore {{lavoratore.nomina_preposto_imbracatore|date:'dmy'}}.pdf" target="_blank">
                <i class="fa-solid fa-file-lines"></i></a>
                {% endif %}
            </td>
            <td class="text-center {{lavoratore.ept_ck}}">
                <a href="{% static ''%}{{lavoratore.lavoratore}}/attestati/ept {{lavoratore.ept_dc|date:'dmy'}}.pdf" target="_blank">
                {{lavoratore.ept|date:"d/m/y"}}
                </a>
            </td>
            <td class="text-center {{lavoratore.dumper_ck}}">
                <a href="{% static ''%}{{lavoratore.lavoratore}}/attestati/dumper {{lavoratore.dumper_dc|date:'dmy'}}.pdf" target="_blank">
                {{lavoratore.dumper|date:"d/m/y"}}
                </a>
            </td>
            <td class="text-center {{lavoratore.rullo_ck}}">
                <a href="{% static ''%}{{lavoratore.lavoratore}}/attestati/rullo {{lavoratore.rullo_dc|date:'dmy'}}.pdf" target="_blank">
                {{lavoratore.rullo|date:"d/m/y"}}
                </a>
            </td>
            <td class="text-center {{lavoratore.autogru_ck}}">
                <a href="{% static ''%}{{lavoratore.lavoratore}}/attestati/autogru {{lavoratore.autogru_dc|date:'dmy'}}.pdf" target="_blank">
                {{lavoratore.autogru|date:"d/m/y"}}
                </a>
            </td>
            <td class="text-center {{lavoratore.gru_autocarro_ck}}">
                <a href="{% static ''%}{{lavoratore.lavoratore}}/attestati/gru_autocarro {{lavoratore.gru_autocarro_dc|date:'dmy'}}.pdf" target="_blank">
                {{lavoratore.gru_autocarro|date:"d/m/y"}}
                </a>
            </td>
            <td class="text-center {{lavoratore.carrello_ck}}">
                {% if lavoratore.carrello %}
                <a href="{% static ''%}{{lavoratore.lavoratore}}/attestati/carrello {{lavoratore.carrello_dc|date:'dmy'}}.pdf" target="_blank">
                {{lavoratore.carrello|date:"d/m/y"}}
                </a>
                {% elif lavoratore.sollevatore %}
                <a href="{% static ''%}{{lavoratore.lavoratore}}/attestati/sollevatore {{lavoratore.sollevatore_dc|date:'dmy'}}.pdf" target="_blank">
                    <i class="fa-solid fa-right-long"></i>
                </a>
                {% endif %}
            </td>
            <td class="text-center {{lavoratore.sollevatore_ck}}">
                <a href="{% static ''%}{{lavoratore.lavoratore}}/attestati/sollevatore {{lavoratore.sollevatore_dc|date:'dmy'}}.pdf" target="_blank">
                {{lavoratore.sollevatore|date:"d/m/y"}}
                </a>
            </td>
            <td class="bordo-destro text-center {{lavoratore.ple_ck}}">
                <a href="{% static ''%}{{lavoratore.lavoratore}}/attestati/ple {{lavoratore.ple_dc|date:'dmy'}}.pdf" target="_blank">
                {{lavoratore.ple|date:"d/m/y"}}
                </a>
            </td>
            <td class="text-center {{lavoratore.rls_ck}}">
                <a href="{% static ''%}{{lavoratore.lavoratore}}/attestati/rls {{lavoratore.rls_dc|date:'dmy'}}.pdf" target="_blank">
                {{lavoratore.rls|date:"d/m/y"}}
                </a>
            </td>
            <td class="text-center {{lavoratore.aspp_ck}}">
                <a href="{% static ''%}{{lavoratore.lavoratore}}/attestati/aspp {{lavoratore.aspp_dc|date:'dmy'}}.pdf" target="_blank">
                {{lavoratore.aspp|date:"d/m/y"}}
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>

    </table>
</div>


{% endblock %}
