        <div class="col text-end d-print-none">
            <div class="btn-group " role="group">
                <a href="/personale/formazione"
                   class="btn btn-outline-primary {{pagina_attiva_formazione}}">Formazione</a>
                <a href="/personale/scadenzario_formazione"
                   class="btn btn-outline-primary {{pagina_attiva_scadenziario_formazione}}">Scadenzario
                    Formazione</a>
                <a href="/personale/idoneita"
                   class="btn btn-outline-primary {{pagina_attiva_idoneita}}">Idoneità</a>
                <a href="/personale/scadenziario_idoneita"
                   class="btn btn-outline-primary {{pagina_attiva_scadenzario_idoneita}}">Scadenzario Idoneità</a>
<!--                <a href="/personale/scadenzario_dpi"-->
<!--                   class="btn btn-outline-primary {{pagina_attiva_scadenzario_dpi}}">Scadenzario DPI</a>-->
                <a href="/personale/anagrafica"
                   class="btn btn-outline-primary {{pagina_attiva_anagrafica}}">Anagrafica</a>
<!--                <a href="/personale/aggiorna_documenti"-->
<!--                   class="btn btn-outline-primary {{pagina_attiva_aggiorna_documenti}}">Aggiorna Documenti</a>-->
<!--                <a href="/personale/aggiorna_stato"-->
<!--                   class="btn btn-outline-primary  {{pagina_attiva_aggiorna_stato}}">Aggiorna Stato</a>-->
                <a href="/personale/estrai_dati"
                   class="btn btn-outline-primary  {{pagina_attiva_estrai_dati}}">Estrai Dati</a>
                <a href="/admin" class="btn btn-outline-primary">Admin</a>
            </div>
        </div>