<div class="col text-end">
    <div class="btn-group " role="group">
        <a href="/personale/formazione" class="btn btn-outline-primary active"><i
                class="fa-solid fa-user-group"></i></a>
        <a href="/mezzi/elenco" class="btn btn-outline-primary"><i class="fa-solid fa-truck-pickup"></i></a>
        <a href="/attrezzi/elenco" class="btn btn-outline-primary"><i class="fa-solid fa-hammer"></i></a>
        <a href="/sgi/formazione" class="btn btn-outline-primary"><i class="fa-solid fa-book"></i></a>
    </div>
</div>