<div class="col text-end d-print-none">
    <div class="btn-group " role="group">
        <a href="/personale/formazione" class="btn btn-outline-primary {{ sezione_formazione_attiva }}"><i
                class="fa-solid fa-user-group"></i></a>
        <a href="/mezzi/elenco" class="btn btn-outline-primary {{ sezione_mezzi_attiva }}"><i
                class="fa-solid fa-truck-pickup"></i></a>
        <a href="/attrezzi/elenco" class="btn btn-outline-primary {{ sezione_attrezzi_attiva }}"><i
                class="fa-solid fa-hammer"></i></a>
        <a href="/sgi/formazione" class="btn btn-outline-primary {{ sezione_sgi_attiva }}"><i
                class="fa-solid fa-book"></i></a>
        <a href="/esterni" class="btn btn-outline-primary {{ sezione_esterni_attiva }}"><i
                class="fa-solid fa-globe"></i></a>
        <a href="/utility/estrai_dati" class="btn btn-outline-primary {{ sezione_utility_attiva }}"><i
                class="fa-solid fa-gears"></i></a>
    </div>
</div>